    <div class="col-12 py-5 info-container">
        <div class="row justify-content-center">
            <div class="col-md-8" id="caja-info-sti">
                <div class="row">
                    <a href="#" class="col-md-12 pt-5 px-5 pb-3 tarjeta-sti wow fadeInUp" id="tarjeta-arriba">
                        <div class="row justify-content-end align-items-end full-height">
                            <h3 class="text-right">virtualizacion y sistemas operativos</h3>
                        </div>
                    </a>

                    <a href="#" class="col-md-6 pt-5 px-5 pb-3 tarjeta-sti wow fadeInUp" id="tarjeta-mitad">
                        <div class="row justify-content-end align-items-end full-height">
                            <h3 class="text-right">servidores</h3>
                        </div>
                    </a>

                    <a href="#" class="col-md-6 pt-5 px-5 pb-3 tarjeta-sti wow fadeInUp" id="tarjeta-abajo">
                        <div class="row justify-content-end align-items-end full-height">
                            <h3 class="text-right">capa media</h3>
                        </div>
                    </a>

                    <a href="#" class="col-md-6 pt-5 px-5 pb-3 tarjeta-sti wow fadeInUp" id="tarjeta-abajo">
                        <div class="row justify-content-end align-items-end full-height">
                            <h3 class="text-right">big data</h3>
                        </div>
                    </a>

                    <a href="#" class="col-md-6 pt-5 px-5 pb-3 tarjeta-sti wow fadeInUp"
                        id="tarjeta-mitad">
                        <div class="row justify-content-end align-items-end full-height">
                            <h3 class="text-right">bases de datos</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>