<section class="col-12" id="section-conocimiento">
    <div class="row full-height">
        <!-- FILA CUADROS BLANCOS -->
        <div class="col-12 middle-height">
            <div class="row">
                <div class="col-3 mx-md-auto cuadro-blanco"></div>

                <div class="col-md-3 d-none d-md-block ml-md-auto cuadro-blanco"></div>
            </div>
        </div>

        <!-- FILA CUADRO AMARILLO -->
        <div class="col-12 middle-height">
            <div class="row full-height">
                <div class="col-9 col-md-5 ml-auto cuadro-amarillo full-height"></div>
            </div>
        </div>

        <!-- FILA SVG CONOCIMIENTO -->
        <div class="col-12 full-height wow fadeInUp" data-wow-delay="0.3s" id="fila-svg-conocimiento">
            <div class="row full-height justify-content-center">
                <img src="../static/img/title-estructuras-conoc.svg" alt="imagen estructuras de conocimiento" class="d-block d-md-none">

                <img src="../static/img/title-estructuras-conoc-land.svg" alt="imagen estructuras de conocimiento" class="d-none d-md-block">
            </div>
        </div>

        <!-- FILA BTN SCROLL -->
        <div class="" id="fila-svg-btn-scroll">
            <a href="#">
                <img src="../static/img/scroll-icon.svg" alt="imagen de boton scroll" class="full-height">
            </a>
        </div>
    </div>
</section>