<section class="col-12" id="section-contactenos">
    <div class="row full-height">
        <div class="col-12 col-md-7">
            <div class="row justify-content-center justify-content-md-end cuadro-amarillo">
                <div class="col-10" id="contenedor-titulo-contacto">
                    <div class="row justify-content-md-center full-height mr-md-3">
                        <img src="../static/img/title-contacto.svg" alt="imagen de titulo contacto" class="d-block d-md-none">

                        <img src="../static/img/title-contacto-horizontal.svg" alt="imagen de titulo contacto" class="d-none d-md-block wow fadeInUp"
                            data-wow-offset="200">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5" id="columna-form">
            <div class="row full-height">
                <form class="col-12 col-md-10 full-height py-4 py-md-0">
                    <div class="row full-height align-items-center">
                        <div class="col-12">
                            <div class="row d-flex flex-row justify-content-center">
                                <div class="col-md-10 grupo-input wow fadeInUp" data-wow-offset="200">
                                    <input type="text" name="empresa" id="empresa" placeholder="Empresa:">
                                </div>

                                <div class="col-md-10 grupo-input wow fadeInUp" data-wow-offset="200">
                                    <input type="text" name="nombre" id="nombre" placeholder="Nombre:">
                                </div>

                                <div class="col-md-10 grupo-input wow fadeInUp" data-wow-offset="200">
                                    <input type="text" name="celular" id="celular" placeholder="Teléfono:">
                                </div>

                                <div class="col-md-10 grupo-input wow fadeInUp" data-wow-offset="200">
                                    <input type="text" name="email" id="email" placeholder="E-mail:">
                                </div>

                                <div class="col-md-10 grupo-input wow fadeInUp" data-wow-offset="200">
                                    <textarea placeholder="Comentarios" name="comentarios" id="comentarios"></textarea>
                                </div>

                                <div class="col-md-10 grupo-input wow fadeInUp">
                                    <button name="enviar" id="enviar">ENVIAR MENSAJE</button>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-politicas mt-3 mt-md-0">
                            <a href="#" id="btn-politics">
                                Política de tratamiento de la información y de privacidad
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>