<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../assets/img/faviconx64.png" type="image/x-icon">

        <title>TAK</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800,900|Exo:300,400,500,600,700,800,900&amp;subset=latin-ext">
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/general-style.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/noty.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/themes/semanticui.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/index-style.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">

        <script async src="../assets/js/fontawesome-all.min.js"></script>
        
    </head>

    <body>