<header class="col-12 col-lg-1">
    <div class="row">
        <!-- MENÚ MOBILE -->
        <div class="col-12 d-block d-md-none" id="columna-menu-mobile">
            <div class="row">
                <div class="col-12" id="contenedor-partegris">
                    <div class="row full-height d-flex flex-row justify-content-between align-items-center">
                        <div class="contenedor-boton-menu my-1" id="contenedor-btn-menu-mobile">
                            <div class="" id="contenedor-lineas-x-btn-menu">
                                <div class="linea-btn-menu-mobile" id="linea-sup"></div>
                                <div class="linea-btn-menu-mobile" id="linea-mid"></div>
                                <div class="linea-btn-menu-mobile" id="linea-inf"></div>
                            </div>

                            <h5 class="m-0 mt-1 text-center titulo-btn-menu-mobile">Menú</h5>
                        </div>

                        <img src="../assets/img/ico-tak-menu-mobile.svg" id="ico-tak-menu-mobile" alt="Icono TAK Colombia" title="Icono TAK Colombia">
                    </div>
                </div>

                <div class="col-12" id="contenedor-opciones-mobile">
                    <div class="row justify-content-center full-height">
                        <div class="col-10 col-md-10 caja" id="caja-izquierda">
                            <div class="row justify-content-center align-content-start full-height">
                                <div class="col-md-10 mb-3 contenedor-opciones-iz-mobile" id="">
                                    <div class="row">
                                        <div class="col-md-12 mb-5">
                                            <div class="row justify-content-end">
                                                <a href="#" id="btn-menu-volver-mobile">
                                                    <h4>
                                                        <span>
                                                            <i class="fas fa-arrow-left"></i>
                                                        </span>
                                                        VOLVER
                                                    </h4>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row pl-md-3">
                                                <a href="/#section-conocimiento" class="mr-1" id="btn-menu-home-mobile">
                                                    <h4>
                                                        Home
                                                    </h4>
                                                </a>

                                                <h4 id="titulo-menu-productos-mobile">
                                                    <span id="span-titulo-menu-mobile">/ </span>Productos
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-10 mt-5" id="navs-container">
                                    <div class="row d-flex flex-row" id="navs-row-container">
                                        <nav class="col-12" id="nav-izquierdo-mobile">
                                            <div class="row">
                                                <ul class="col-12">
                                                    <li>
                                                        <a href="#" id="go-menu-quienesSomos-mobile">
                                                            <h4>QUIENES SOMOS</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="/#section-portafolio" id="btn-nav-Productos-mobile">
                                                            <h4>PRODUCTOS ...</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" id="go-menu-clientesPartners-mobile">
                                                            <h4>CLIENTES Y PARTNERS</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" id="go-menu-contactanos-mobile">
                                                            <h4>CONTACTANOS</h4>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>

                                        <nav class="col-12" id="nav-derecho-mobile">
                                            <div class="row">
                                                <ul class="col-12">
                                                    <li>
                                                        <a href="/">
                                                            <h4>ORACLE</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="/">
                                                            <h4>RED HAT</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="/">
                                                            <h4>KASPERSKY</h4>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="/">
                                                            <h4>HEWLETT PACKARD</h4>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /MENÚ MOBILE -->

        <!-- MENÚ ESCRITORIO -->
        <div class="col-md-12 d-none d-md-block" id="columna-menu-escritorio">
            <div class="row">
                <div class="col-md-10 caja" id="caja-izquierda">
                    <div class="row justify-content-center align-content-center full-height">
                        <div class="col-md-10 mb-5 contenedor-opciones" id="">
                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <div class="row justify-content-end">
                                        <a href="#" id="btn-menu-volver">
                                            <h4>
                                                <span>
                                                    <i class="fas fa-arrow-left"></i>
                                                </span>
                                                VOLVER
                                            </h4>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-5 pt-4">
                                    <div class="row pl-md-5">
                                        <a href="/#section-conocimiento" class="mr-1" id="btn-menu-home">
                                            <h4>Home
                                                <span id="span-titulo-menu">/ </span>
                                            </h4>
                                        </a>

                                        <h4 id="titulo-menu-productos" class="m-0">Productos</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10" id="navs-container">
                            <div class="row d-flex flex-row" id="navs-row-container">
                                <nav class="col-12" id="nav-izquierdo">
                                    <div class="row">
                                        <ul class="col-12 pl-md-5">
                                            <li>
                                                <a href="#" id="go-menu-quienesSomos">
                                                    <h4>QUIENES SOMOS</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/#section-portafolio" id="btn-nav-Productos">
                                                    <h4>PRODUCTOS ...</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" id="go-menu-clientesPartners">
                                                    <h4>CLIENTES Y PARTNERS</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" id="go-menu-contactanos">
                                                    <h4>CONTACTANOS</h4>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                                <nav class="col-12" id="nav-derecho">
                                    <div class="row">
                                        <ul class="col-12 pl-md-5">
                                            <li>
                                                <a href="/">
                                                    <h4>ORACLE</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/">
                                                    <h4>RED HAT</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/">
                                                    <h4>KASPERSKY</h4>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/">
                                                    <h4>HEWLETT PACKARD</h4>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 caja" id="caja-derecha">
                    <div class="row align-items-center full-height">
                        <div class="col-10" id="contenedor-btn-menu-escritorio">
                            <div class="row d-flex flex-column justify-content-center align-content-center full-height">
                                <div class="contenedor-lineas-menu">
                                    <span>
                                        <i class="fas fa-bars"></i>
                                    </span>
                                </div>

                                <div class="contenedor-texto-menu">
                                    <h5 class="col-12 m-0 text-center">Menú</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /MENÚ ESCRITORIO -->
    </div>
</header>