<div class="modal-politicas">
    <div class="contenedor-articulo">
        <embed src="../static/img/politica-privacidad.pdf" width="100%" height="100%"></embed>

        <div class="btn-cierra-m-politicas">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
</div>