<section class="col-12" id="section-portafolio">
    <div class="row full-height">
        <!-- Portafolio Vertical -->
        <div class="col-12 d-block d-md-none" id="contenedor-portafolio-vertical">
            <div class="row full-height">
                <svg version="1.1" id="Capa_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                    viewBox="0 0 369 542" style="enable-background:new 0 0 369 542;" xml:space="preserve">
                    <font horiz-adv-x="1000">
                        <!-- Copyright &#xC2;&#xA9; 2013, Natanael Gama (www.ndiscovered.com . info(at)ndiscovered.com), with Reserved Font Name Exo. This Font Software is licensed under the SIL Open Font License, Version 1.1. -->
                        <!-- Copyright: Copyright 2018 Adobe System Incorporated. All rights reserved. -->
                        <font-face font-family="Exo2-Bold" units-per-em="1000" underline-position="-100" underline-thickness="50" />
                        <missing-glyph horiz-adv-x="600" />
                        <glyph unicode="A" horiz-adv-x="650" d="M444,181l50,-181l155,0l-199,650C444,675 423,690 397,690l-144,0C228,690 206,675 200,650l-199,-650l156,0l50,181M411,299l-172,0l58,211l15,65l27,0C342,554 348,531 353,510z"
                        />
                        <glyph unicode="C" horiz-adv-x="586" d="M337,702C124,702 47,608 47,345C47,82 124,-12 337,-12C436,-12 494,-4 558,16l-13,113C484,121 429,120 337,120C237,120 207,171 207,345C207,519 237,570 337,570C424,570 466,569 531,565l13,114C481,695 434,702 337,702z"
                        />
                        <glyph unicode="D" horiz-adv-x="680" d="M338,699C233,699 149,695 70,690l0,-690C149,-5 234,-9 338,-9C555,-9 632,72 632,345C632,618 555,699 338,699M338,111C296,111 257,112 222,112l0,467C257,579 294,580 338,580C441,580 472,526 472,345C472,164 441,111 338,111z"
                        />
                        <glyph unicode="E" horiz-adv-x="576" d="M529,119l-265,0C231,119 217,134 217,171l0,133l275,0l0,110l-275,0l0,105C217,555 231,570 264,570l265,0l7,113C442,693 323,693 216,693C124,693 65,639 64,554l0,-418C65,51 124,-3 216,-3C323,-3 442,-3 536,7z"
                        />
                        <glyph unicode="H" horiz-adv-x="688" d="M618,690l-152,0l0,-264l-244,0l0,264l-152,0l0,-690l152,0l0,308l244,0l0,-308l152,0z"
                        />
                        <glyph unicode="K" horiz-adv-x="631" d="M274,304l182,-304l170,0l-182,295C430,318 406,342 386,356l0,4C406,375 422,390 436,415l178,275l-165,0l-176,-277l-58,0C220,440 222,468 222,495l0,195l-152,0l0,-690l152,0l0,238C222,258 219,281 215,304z"
                        />
                        <glyph unicode="L" horiz-adv-x="532" d="M220,690l-152,0l0,-546C68,59 115,-3 226,-3C324,-3 426,-2 518,8l-7,116l-237,0C235,124 220,139 220,175z"
                        />
                        <glyph unicode="O" horiz-adv-x="684" d="M342,703C124,703 47,622 47,345C47,68 124,-13 342,-13C560,-13 638,68 638,345C638,622 560,703 342,703M342,580C446,580 477,528 477,345C477,162 446,110 342,110C238,110 207,162 207,345C207,528 238,580 342,580z"
                        />
                        <glyph unicode="P" horiz-adv-x="614" d="M332,699C208,699 153,698 70,690l0,-690l152,0l0,256C262,251 307,248 352,248C523,248 584,296 584,474C584,650 523,699 332,699M222,365l0,217l107,0C407,582 431,560 431,474C431,388 407,366 329,365z"
                        />
                        <glyph unicode="R" horiz-adv-x="643" d="M614,0l-60,215C538,286 491,311 456,319l0,5C554,336 588,398 588,495C588,653 513,699 333,699C209,699 153,698 70,690l0,-690l150,0l0,269l107,0C368,269 388,255 401,211l52,-211M220,387l0,194l110,1C410,582 434,562 434,485C434,409 410,387 330,387z"
                        />
                        <glyph unicode="S" horiz-adv-x="582" d="M294,703C116,703 43,670 43,512C43,410 81,348 186,310l139,-49C371,246 390,234 390,185C390,129 368,118 288,118C244,118 188,120 60,123l-9,-110C157,-10 244,-13 288,-13C476,-13 544,29 544,186C544,287 508,350 398,389l-131,45C215,451 195,464 195,512C195,571 221,575 295,575C368,575 453,574 511,572l10,104C444,698 362,703 294,703z"
                        />
                        <glyph unicode="T" horiz-adv-x="601" d="M583,566l0,124l-565,0l0,-124l206,0l0,-566l153,0l0,566z" />
                        <glyph unicode="W" horiz-adv-x="973" d="M947,690l-155,0l-68,-481C720,179 717,143 715,111l-21,0C691,142 685,178 680,210l-74,433C602,671 581,690 553,690l-132,0C392,690 371,671 367,643l-74,-432C288,180 282,144 278,111l-20,0C256,148 253,181 249,211l-67,479l-156,0l109,-648C140,17 163,0 190,0l146,0C364,0 387,17 391,43l74,450C470,522 473,552 477,581l19,0C499,552 503,523 508,494l75,-451C587,17 610,0 637,0l146,0C811,0 833,17 838,42z"
                        />
                        <glyph unicode="Y" horiz-adv-x="608" d="M381,229l226,461l-157,0l-115,-253C324,410 316,378 310,350l-10,0C293,378 286,410 274,437l-115,253l-159,0l228,-461l0,-229l153,0z"
                        />
                        <glyph unicode=" " horiz-adv-x="217" />
                    </font>

                    <metadata>
                        <sfw xmlns="&ns_sfw;">
                            <slices></slices>
                            <sliceSourceBounds bottomLeftOrigin="true" height="524.7" width="369" x="775.5" y="-685.3"></sliceSourceBounds>
                        </sfw>
                    </metadata>
                    <g>
                        <polygon id="XMLID_2685_" style="fill:#FFFFFF;" points="281.6,210.6 263.9,257 266.3,257 284,210.6 	" />
                        <polygon id="XMLID_2683_" style="fill:#FFFFFF;" points="278.7,210.6 261,257 261.4,257 279.1,210.6 	" />
                        <polygon id="XMLID_2681_" style="fill:#FFFFFF;" points="273.6,210.6 256.6,257 259,257 275.9,210.6 	" />
                        <g id="XMLID_2674_">
                            <polygon id="XMLID_2679_" style="fill:#FFFFFF;" points="292.1,257 294.5,257 281.2,222.3 280,225.4 		" />
                            <polygon id="XMLID_2677_" style="fill:#FFFFFF;" points="297,257 297.4,257 282.7,218.6 282.5,219.1 		" />
                            <polygon id="XMLID_2675_" style="fill:#FFFFFF;" points="301.8,257 285.3,212.1 284.1,215.1 299.4,257 		" />
                        </g>
                    </g>
                    <g>

                        <rect id="XMLID_2672_" x="232.7" y="220.9" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 467.1116 477.9183)" style="fill:#FFFFFF;"
                            width="1.7" height="36" />

                        <rect id="XMLID_2670_" x="229.7" y="220.9" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 459.857 477.9183)" style="fill:#FFFFFF;"
                            width="0.5" height="36" />

                        <rect id="XMLID_2668_" x="225.5" y="220.9" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 452.6294 477.9183)" style="fill:#FFFFFF;"
                            width="1.7" height="36" />

                        <rect id="XMLID_2666_" x="229.1" y="195.6" transform="matrix(6.123234e-17 -1 1 6.123234e-17 11.4811 448.4036)" style="fill:#FFFFFF;"
                            width="1.7" height="45.6" />

                        <rect id="XMLID_2664_" x="229.7" y="191.9" transform="matrix(6.123234e-17 -1 1 6.123234e-17 15.1968 444.6879)" style="fill:#FFFFFF;"
                            width="0.5" height="45.6" />

                        <rect id="XMLID_2662_" x="229.1" y="188.2" transform="matrix(6.123234e-17 -1 1 6.123234e-17 18.8987 440.986)" style="fill:#FFFFFF;"
                            width="1.7" height="45.6" />
                    </g>
                    <g>

                        <rect id="XMLID_2660_" x="84.7" y="306.1" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 403.7258 232.5142)" style="fill:#FFFFFF;"
                            width="1.7" height="24" />

                        <rect id="XMLID_2658_" x="85.3" y="309.1" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 406.6784 235.4669)" style="fill:#FFFFFF;"
                            width="0.5" height="24" />

                        <rect id="XMLID_2656_" x="84.7" y="312" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 409.6177 238.4062)" style="fill:#FFFFFF;"
                            width="1.7" height="24" />

                        <rect id="XMLID_2654_" x="80.2" y="330.4" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 418.8638 256.7845)" style="fill:#FFFFFF;"
                            width="1.7" height="14.8" />

                        <rect id="XMLID_2652_" x="80.8" y="333.4" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 421.8167 259.7374)" style="fill:#FFFFFF;"
                            width="0.5" height="14.8" />

                        <rect id="XMLID_2650_" x="80.2" y="336.3" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 424.7562 262.6763)" style="fill:#FFFFFF;"
                            width="1.7" height="14.8" />
                        <g id="XMLID_2642_">
                            <g>
                                <polygon id="XMLID_133_" style="fill:#FFFFFF;" points="64.1,325.2 64.1,355.4 66.3,357.9 66.3,323 			" />
                                <polygon id="XMLID_132_" style="fill:#FFFFFF;" points="67.8,321.5 67.8,359.6 68.2,360 68.2,321.1 			" />
                                <polygon id="XMLID_131_" style="fill:#FFFFFF;" points="70,319.2 70,362.1 71.9,364.1 71.9,317.4 			" />
                            </g>
                        </g>
                    </g>
                    <g>
                        <rect id="XMLID_2641_" x="203.5" y="318.1" style="fill:#FFFFFF;" width="2.2" height="46.2" />
                        <rect id="XMLID_2640_" x="208.3" y="318.1" style="fill:#FFFFFF;" width="0.4" height="46.2" />
                        <rect id="XMLID_2639_" x="211.3" y="318.1" style="fill:#FFFFFF;" width="1.9" height="46.2" />
                    </g>
                    <g>
                        <g id="XMLID_2632_">
                            <rect id="XMLID_2637_" x="164.4" y="318.5" style="fill:#FFFFFF;" width="1.7" height="38.1" />
                            <rect id="XMLID_2635_" x="162.2" y="318.5" style="fill:#FFFFFF;" width="0.5" height="38.1" />
                            <rect id="XMLID_2633_" x="158.8" y="318.5" style="fill:#FFFFFF;" width="1.6" height="38.1" />
                        </g>
                        <g id="XMLID_2625_">
                            <polygon id="XMLID_2630_" style="fill:#FFFFFF;" points="188.4,364.4 188.4,362.7 163.6,362.7 165.1,364.4 		" />
                            <polygon id="XMLID_2628_" style="fill:#FFFFFF;" points="188.4,361 188.4,360.4 161.6,360.4 162,361 		" />
                            <polygon id="XMLID_2626_" style="fill:#FFFFFF;" points="188.4,357 158.8,357 158.8,357.3 160,358.7 188.4,358.7 		" />
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_2618_">
                            <polygon id="XMLID_2623_" style="fill:#FFFFFF;" points="105,323.8 139.2,323.8 139.2,322.1 106.6,322.1 105,323.5 		" />
                            <polygon id="XMLID_2621_" style="fill:#FFFFFF;" points="139.2,319.5 139.2,319 110,319 109.4,319.5 		" />
                            <polygon id="XMLID_2619_" style="fill:#FFFFFF;" points="139.2,314.7 114.7,314.7 112.8,316.4 139.2,316.4 		" />
                        </g>
                        <g id="XMLID_2611_">
                            <polygon id="XMLID_2616_" style="fill:#FFFFFF;" points="113.9,360.4 113.9,325.4 112.2,325.4 112.2,358.8 113.7,360.4 		" />
                            <polygon id="XMLID_2614_" style="fill:#FFFFFF;" points="109.7,325.4 109.2,325.4 109.2,355.2 109.7,355.8 		" />
                            <polygon id="XMLID_2612_" style="fill:#FFFFFF;" points="105,325.4 105,350.4 106.7,352.3 106.7,325.4 		" />
                        </g>
                        <g id="XMLID_2604_">
                            <polygon id="XMLID_2609_" style="fill:#FFFFFF;" points="149.3,351.2 115.1,351.2 115.1,353 147.7,353 149.3,351.5 		" />
                            <polygon id="XMLID_2607_" style="fill:#FFFFFF;" points="115.1,355.5 115.1,356.1 144.2,356.1 144.8,355.5 		" />
                            <polygon id="XMLID_2605_" style="fill:#FFFFFF;" points="115.1,360.4 139.5,360.4 141.4,358.6 115.1,358.6 		" />
                        </g>
                        <g id="XMLID_2597_">
                            <polygon id="XMLID_2602_" style="fill:#FFFFFF;" points="140.3,314.6 140.3,349.7 142,349.7 142,316.3 140.6,314.6 		" />
                            <polygon id="XMLID_2600_" style="fill:#FFFFFF;" points="144.5,349.7 145,349.7 145,319.8 144.5,319.2 		" />
                            <polygon id="XMLID_2598_" style="fill:#FFFFFF;" points="149.2,349.7 149.2,324.7 147.5,322.7 147.5,349.7 		" />
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_2590_">
                            <polygon id="XMLID_2595_" style="fill:#FFFFFF;" points="224.6,329.3 258.7,329.3 258.7,327.5 226.2,327.5 224.6,329 		" />
                            <polygon id="XMLID_2593_" style="fill:#FFFFFF;" points="258.7,325 258.7,324.4 229.6,324.4 229,325 		" />
                            <polygon id="XMLID_2591_" style="fill:#FFFFFF;" points="258.7,320.1 234.3,320.1 232.4,321.9 258.7,321.9 		" />
                        </g>
                        <g id="XMLID_2583_">
                            <polygon id="XMLID_2588_" style="fill:#FFFFFF;" points="233.5,365.9 233.5,330.8 231.8,330.8 231.8,364.2 233.2,365.9 		" />
                            <polygon id="XMLID_2586_" style="fill:#FFFFFF;" points="229.3,330.8 228.8,330.8 228.8,360.7 229.3,361.3 		" />
                            <polygon id="XMLID_2584_" style="fill:#FFFFFF;" points="224.6,330.8 224.6,355.8 226.3,357.8 226.3,330.8 		" />
                        </g>
                        <g id="XMLID_2576_">
                            <polygon id="XMLID_2581_" style="fill:#FFFFFF;" points="268.9,356.7 234.7,356.7 234.7,358.4 267.2,358.4 268.9,357 		" />
                            <polygon id="XMLID_2579_" style="fill:#FFFFFF;" points="234.7,361 234.7,361.5 263.8,361.5 264.4,361 		" />
                            <polygon id="XMLID_2577_" style="fill:#FFFFFF;" points="234.7,365.8 259.1,365.8 261,364.1 234.7,364.1 		" />
                        </g>
                        <g id="XMLID_2569_">
                            <polygon id="XMLID_2574_" style="fill:#FFFFFF;" points="259.9,320.1 259.9,355.1 261.6,355.1 261.6,321.7 260.2,320.1 		" />
                            <polygon id="XMLID_2572_" style="fill:#FFFFFF;" points="264.1,355.1 264.6,355.1 264.6,325.3 264.1,324.7 		" />
                            <polygon id="XMLID_2570_" style="fill:#FFFFFF;" points="268.8,355.1 268.8,330.1 267.1,328.2 267.1,355.1 		" />
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_2562_">
                            <rect id="XMLID_2567_" x="62.8" y="211.8" style="fill:#FFFFFF;" width="1.7" height="46.5" />
                            <rect id="XMLID_2565_" x="60.6" y="211.8" style="fill:#FFFFFF;" width="0.5" height="46.5" />
                            <rect id="XMLID_2563_" x="57.3" y="211.8" style="fill:#FFFFFF;" width="1.6" height="46.5" />
                        </g>

                        <rect id="XMLID_2560_" x="74.2" y="203.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 288.093 137.8987)" style="fill:#FFFFFF;"
                            width="1.7" height="18.6" />

                        <rect id="XMLID_2558_" x="74.8" y="206.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 291.0459 140.8516)" style="fill:#FFFFFF;"
                            width="0.5" height="18.6" />

                        <rect id="XMLID_2556_" x="74.2" y="209.6" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 293.9849 143.7907)" style="fill:#FFFFFF;"
                            width="1.7" height="18.6" />
                        <g id="XMLID_2549_">
                            <polygon id="XMLID_2554_" style="fill:#FFFFFF;" points="65.8,231.1 65.8,232.8 90.6,232.8 92.2,231.1 		" />
                            <polygon id="XMLID_2552_" style="fill:#FFFFFF;" points="65.8,235.2 88.4,235.2 88.9,234.6 65.8,234.6 		" />
                            <polygon id="XMLID_2550_" style="fill:#FFFFFF;" points="65.8,238.7 85.1,238.7 86.7,237 65.8,237 		" />
                        </g>
                        <g id="XMLID_2542_">
                            <polygon id="XMLID_2547_" style="fill:#FFFFFF;" points="91.8,217.9 91.8,230.3 93.5,230.3 93.5,219.6 		" />
                            <polygon id="XMLID_2545_" style="fill:#FFFFFF;" points="89.5,230.3 90,230.3 90,216.2 89.5,215.7 		" />
                            <polygon id="XMLID_2543_" style="fill:#FFFFFF;" points="86.1,230.3 87.7,230.3 87.7,214 86.1,212.3 		" />
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_2535_">
                            <rect id="XMLID_2540_" x="169.5" y="213.4" style="fill:#FFFFFF;" width="1.7" height="47.6" />
                            <rect id="XMLID_2538_" x="167.2" y="213.4" style="fill:#FFFFFF;" width="0.5" height="47.6" />
                            <rect id="XMLID_2536_" x="163.9" y="213.4" style="fill:#FFFFFF;" width="1.6" height="47.6" />
                        </g>
                        <g id="XMLID_2531_">
                            <polygon id="XMLID_2534_" style="fill:#FFFFFF;" points="188.8,259.8 190.7,259.8 177.4,243 175.5,243 		" />
                            <polygon id="XMLID_2533_" style="fill:#FFFFFF;" points="194.4,259.8 194.9,259.8 181.6,243 181,243 		" />
                            <polygon id="XMLID_2532_" style="fill:#FFFFFF;" points="201,259.8 187.6,243 185.7,243 199.1,259.8 		" />
                        </g>

                        <rect id="XMLID_2529_" x="181.2" y="205.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 397.0502 32.8717)" style="fill:#FFFFFF;"
                            width="1.7" height="18.6" />

                        <rect id="XMLID_2527_" x="181.8" y="208.6" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 400.0031 35.8246)" style="fill:#FFFFFF;"
                            width="0.5" height="18.6" />

                        <rect id="XMLID_2525_" x="181.2" y="211.6" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 402.9422 38.7637)" style="fill:#FFFFFF;"
                            width="1.7" height="18.6" />
                        <g id="XMLID_2518_">
                            <polygon id="XMLID_2523_" style="fill:#FFFFFF;" points="172.8,233 172.8,234.8 197.6,234.8 199.2,233 		" />
                            <polygon id="XMLID_2521_" style="fill:#FFFFFF;" points="172.8,237.1 195.4,237.1 195.9,236.6 172.8,236.6 		" />
                            <polygon id="XMLID_2519_" style="fill:#FFFFFF;" points="172.8,240.7 192.1,240.7 193.7,238.9 172.8,238.9 		" />
                        </g>
                        <g id="XMLID_2511_">
                            <polygon id="XMLID_2516_" style="fill:#FFFFFF;" points="198.8,219.9 198.8,232.3 200.5,232.3 200.5,221.6 		" />
                            <polygon id="XMLID_2514_" style="fill:#FFFFFF;" points="196.5,232.3 197,232.3 197,218.2 196.5,217.7 		" />
                            <polygon id="XMLID_2512_" style="fill:#FFFFFF;" points="193.1,232.3 194.7,232.3 194.7,215.9 193.1,214.3 		" />
                        </g>
                    </g>
                    <polygon id="XMLID_2500_" style="opacity:0.3;fill:#FFFFFF;" points="164.8,293.9 166.4,293.9 165.9,316.4 164.3,316.4 " />
                    <polygon id="XMLID_2498_" style="opacity:0.3;fill:#FFFFFF;" points="162.6,293.9 163.1,293.9 162.6,316.4 162.2,316.4 " />
                    <polygon id="XMLID_2496_" style="opacity:0.3;fill:#FFFFFF;" points="159.4,293.1 161,293.1 160.5,315.6 158.9,315.6 " />
                    <polygon id="XMLID_2494_" style="opacity:0.3;fill:#FFFFFF;" points="210.7,293.9 212.3,293.9 211.8,316.4 210.2,316.4 " />
                    <polygon id="XMLID_2492_" style="opacity:0.3;fill:#FFFFFF;" points="208.6,293.9 209,293.9 208.6,316.4 208.1,316.4 " />
                    <polygon id="XMLID_2490_" style="opacity:0.3;fill:#FFFFFF;" points="205.3,293.9 206.9,293.9 206.4,316.4 204.8,316.4 " />
                    <polygon id="XMLID_2482_" style="opacity:0.3;fill:#FFFFFF;" points="62.5,51.5 64.1,51.5 63.6,209.2 62,209.2 " />
                    <polygon id="XMLID_2480_" style="opacity:0.3;fill:#FFFFFF;" points="60.3,51.5 60.8,51.5 60.3,209.2 59.8,209.2 " />
                    <polygon id="XMLID_2478_" style="opacity:0.3;fill:#FFFFFF;" points="57.1,51.5 58.6,51.5 58.2,209.2 56.6,209.2 " />
                    <polygon id="XMLID_2470_" style="opacity:0.3;fill:#FFFFFF;" points="232.3,260.2 233.9,260.2 233.4,285.6 231.8,285.6 " />
                    <polygon id="XMLID_2468_" style="opacity:0.3;fill:#FFFFFF;" points="230.2,260.2 230.7,260.2 230.2,285.6 229.7,285.6 " />
                    <polygon id="XMLID_2466_" style="opacity:0.3;fill:#FFFFFF;" points="226.9,260.2 228.5,260.2 228,285.6 226.5,285.6 " />
                    <g>
                        <g id="XMLID_2417_">
                            <polygon id="XMLID_2422_" style="fill:#FFFFFF;" points="105.4,222.3 139.6,222.3 139.6,220.5 107,220.5 105.4,222 		" />
                            <polygon id="XMLID_2420_" style="fill:#FFFFFF;" points="139.6,217.9 139.6,217.4 110.4,217.4 109.8,217.9 		" />
                            <polygon id="XMLID_2418_" style="fill:#FFFFFF;" points="139.6,213.1 115.1,213.1 113.2,214.8 139.6,214.8 		" />
                        </g>
                        <g id="XMLID_2410_">
                            <polygon id="XMLID_2415_" style="fill:#FFFFFF;" points="114.3,258.8 114.3,223.8 112.6,223.8 112.6,257.2 114,258.8 		" />
                            <polygon id="XMLID_2413_" style="fill:#FFFFFF;" points="110.1,223.8 109.6,223.8 109.6,253.7 110.1,254.3 		" />
                            <polygon id="XMLID_2411_" style="fill:#FFFFFF;" points="105.4,223.8 105.4,248.8 107.1,250.8 107.1,223.8 		" />
                        </g>
                        <g id="XMLID_2403_">
                            <polygon id="XMLID_2408_" style="fill:#FFFFFF;" points="149.7,249.6 115.5,249.6 115.5,251.4 148.1,251.4 149.7,249.9 		" />
                            <polygon id="XMLID_2406_" style="fill:#FFFFFF;" points="115.5,254 115.5,254.5 144.6,254.5 145.2,254 		" />
                            <polygon id="XMLID_2404_" style="fill:#FFFFFF;" points="115.5,258.8 139.9,258.8 141.8,257.1 115.5,257.1 		" />
                        </g>
                        <g id="XMLID_2396_">
                            <polygon id="XMLID_2401_" style="fill:#FFFFFF;" points="140.7,213.1 140.7,248.1 142.4,248.1 142.4,214.7 141,213.1 		" />
                            <polygon id="XMLID_2399_" style="fill:#FFFFFF;" points="144.9,248.1 145.4,248.1 145.4,218.2 144.9,217.6 		" />
                            <polygon id="XMLID_2397_" style="fill:#FFFFFF;" points="149.6,248.1 149.6,223.1 147.9,221.1 147.9,248.1 		" />
                        </g>
                    </g>
                    <g>
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="150.4,173.4 148.8,173.4 148.4,219.3 150,221 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="146.7,173.4 146.3,217.1 146.8,217.6 147.1,173.4 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="143.4,173.4 143.1,213.7 144.6,215.4 145,173.4 	" />
                    </g>
                    <g>
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="301.8,326.1 301.8,324.5 267.7,324.3 268.7,326 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="301.8,322.8 301.8,322.3 266.2,322.1 266.5,322.6 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="301.7,318.9 264.1,318.8 265.1,320.4 301.8,320.6 	" />
                    </g>
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="169.6,126.4 169.1,211 170.7,211 171.2,126.4 " />
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="167,211 167.5,211 167.9,126.4 167.4,126.4 " />
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="163.8,211 165.3,211 165.8,126.4 164.2,126.4 " />
                    <g>
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="112.4,261.9 110.8,260 110.6,314.7 112.2,312.9 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="108.7,257.4 108.4,317.1 108.9,316.6 109.1,258 	" />
                        <polygon style="opacity:0.3;fill:#FFFFFF;" points="105.5,253.5 105.2,320.7 106.8,319 107,255.4 	" />
                    </g>
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="71.4,366.9 69.8,365 69.7,400.2 71.3,400.2 " />
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="67.7,362.4 67.5,400.2 68,400.2 68.1,363 " />
                    <polygon style="opacity:0.3;fill:#FFFFFF;" points="64.5,358.5 64.3,400.2 65.9,400.2 66,360.4 " />
                    <g>
                        <rect x="205.6" y="81.1" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="86.1" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="84.1" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="205.6" y="115.4" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="120.3" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="118.4" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="205.6" y="138.9" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="143.8" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="141.9" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="205.6" y="170.2" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="175.2" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="205.6" y="173.2" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="64.7" y="410.3" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="415.3" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="413.3" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="64.7" y="444.6" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="449.5" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="447.6" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="64.7" y="468.1" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="473" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="471.1" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g>
                        <rect x="64.7" y="499.5" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="504.4" style="fill:#FFFFFF;" width="110" height="1.5" />
                        <rect x="64.7" y="502.5" style="fill:#FFFFFF;" width="110" height="0.4" />
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="312.2" y="201.7" style="fill:#FFFFFF;" width="56.8" height="1.5" />
                            <rect x="312.2" y="206.7" style="fill:#FFFFFF;" width="56.8" height="1.5" />
                            <rect x="312.2" y="204.7" style="fill:#FFFFFF;" width="56.8" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="312.6" y="18.8" style="fill:#FFFFFF;" width="1.5" height="58.6" />
                            <rect x="307.7" y="18.8" style="fill:#FFFFFF;" width="1.5" height="58.6" />
                            <rect x="310.6" y="18.8" style="fill:#FFFFFF;" width="0.4" height="58.6" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="66.2" y="80.8" style="fill:#FFFFFF;" width="130.9" height="1.5" />
                            <rect x="66.2" y="85.7" style="fill:#FFFFFF;" width="130.9" height="1.5" />
                            <rect x="66.2" y="83.8" style="fill:#FFFFFF;" width="130.9" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect y="80.8" style="fill:#FFFFFF;" width="53" height="1.5" />
                            <rect y="85.7" style="fill:#FFFFFF;" width="53" height="1.5" />
                            <rect y="83.8" style="fill:#FFFFFF;" width="53" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect y="200.3" style="fill:#FFFFFF;" width="54.7" height="1.5" />
                            <rect y="205.2" style="fill:#FFFFFF;" width="54.7" height="1.5" />
                            <rect y="203.3" style="fill:#FFFFFF;" width="54.7" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="192.5" y="499.7" style="fill:#FFFFFF;" width="137.3" height="1.5" />
                            <rect x="192.5" y="504.6" style="fill:#FFFFFF;" width="137.3" height="1.5" />
                            <rect x="192.5" y="502.7" style="fill:#FFFFFF;" width="137.3" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="343.2" y="443.4" style="fill:#FFFFFF;" width="25.8" height="1.5" />
                            <rect x="343.2" y="448.3" style="fill:#FFFFFF;" width="25.8" height="1.5" />
                            <rect x="343.2" y="446.4" style="fill:#FFFFFF;" width="25.8" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <g>
                            <rect x="65.8" y="200.3" style="fill:#FFFFFF;" width="73.2" height="1.5" />
                            <rect x="65.8" y="205.2" style="fill:#FFFFFF;" width="73.2" height="1.5" />
                            <rect x="65.8" y="203.3" style="fill:#FFFFFF;" width="73.2" height="0.4" />
                        </g>
                    </g>
                    <g style="opacity:0.3;">
                        <polygon style="fill:#FFFFFF;" points="310.6,202.2 309.1,203.3 309.1,320.6 310.6,319.3 	" />
                        <polygon style="fill:#FFFFFF;" points="304.2,207.3 304.2,325.3 305.6,323.9 305.6,206.1 	" />
                        <polygon style="fill:#FFFFFF;" points="307.1,204.9 307.1,322.5 307.6,322.1 307.6,204.6 	" />
                    </g>
                    <g style="opacity:0.3;">
                        <polygon style="fill:#FFFFFF;" points="332.8,543.5 334.3,543.5 334.3,447.9 332.8,449.2 	" />
                        <polygon style="fill:#FFFFFF;" points="337.8,445.1 337.8,543.5 339.2,543.5 339.2,443.8 	" />
                        <polygon style="fill:#FFFFFF;" points="335.8,543.5 336.3,543.5 336.3,446.3 335.8,446.7 	" />
                    </g>
                    <a href="redhat-index.php" style="text-decoration:none;">
                        <g>
                            <rect x="183" y="97" style="fill:#F7C639;" width="29.2" height="3" />
                            <rect x="203.6" y="102" style="fill:#F7C639;" width="8.6" height="3" />
                            <text transform="matrix(1 0 0 1 222.3539 108.0021)" style="fill:#FFFFFF; font-family:'Exo 2'; font-size:19.7604px; font-weight: 600">RED HAT</text>
                        </g>
                    </a>
                    <a href="oracle-index.php" style="text-decoration:none;">
                        <g>
                            <rect x="183" y="152.5" style="fill:#F7C639;" width="29.2" height="3" />
                            <rect x="203.6" y="157.5" style="fill:#F7C639;" width="8.6" height="3" />
                            <text transform="matrix(1 0 0 1 226.3954 164.1701)" style="fill:#FFFFFF; font-family:'Exo 2'; font-size:19.7604px; font-weight: 600">ORACLE</text>
                        </g>
                    </a>
                    <a href="kaspersky-index.php" style="text-decoration:none;">
                        <g>
                            <rect x="31.7" y="426.2" style="fill:#F7C639;" width="29.2" height="3" />
                            <rect x="52.3" y="431.2" style="fill:#F7C639;" width="8.6" height="3" />
                            <text transform="matrix(1 0 0 1 66.7637 438.1691)" style="fill:#FFFFFF; font-family:'Exo 2'; font-size:19.7604px; font-weight: 600">KASPERSKY</text>
                        </g>
                    </a>
                    <a href="hp-index.php" style="text-decoration:none;">
                        <g>
                            <rect x="31.7" y="482.7" style="fill:#F7C639;" width="29.2" height="3" />
                            <rect x="52.3" y="487.8" style="fill:#F7C639;" width="8.6" height="3" />
                            <text transform="matrix(1 0 0 1 66.452 493.6454)" style="fill:#FFFFFF; font-family:'Exo 2'; font-size:19.7604px; font-weight: 600">HEWLETT PACKARD</text>
                        </g>
                    </a>
                </svg>
            </div>
        </div>
        <!-- /Portafolio Vertical -->

        <!-- Portafolio Horizontal -->
        <div class="col-md-12 d-none d-md-block wow fadeInUp" data-wow-offset="200" id="contenedor-portafolio-horizontal">
            <div class="row full-height">
                <svg class="portafolio-horizontal" id="Capa_1" style=" enable-background:new 0 0 1670 956.2;" version="1.1" viewbox="0 0 1670 956.2"
                    x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    y="0px" width="100%" height="100%">
                    <style type="text/css">
                        .portafolio-horizontal .st0 {
                            fill: #FFFFFF;
                        }

                        .portafolio-horizontal .st1 {
                            opacity: 0.2;
                            fill: #FFFFFF;
                        }

                        .portafolio-horizontal .st2 {
                            opacity: 0.2;
                        }

                        .portafolio-horizontal .st3 {
                            opacity: 0.3;
                            fill: #FFFFFF;
                        }

                        .portafolio-horizontal .st4 {
                            fill: #F7C639;
                            stroke: none;
                        }

                        .portafolio-horizontal .st5 {
                            opacity: 0;
                            fill: #FFFFFF;
                        }

                        .portafolio-horizontal .st6 {
                            fill: none;
                        }
                    </style>
                    <g>
                        <polygon class="st0" id="XMLID_3906_" points="842.4,493.5 809.7,577.8 814.1,577.8 846.8,493.5"></polygon>
                        <polygon class="st0" id="XMLID_3902_" points="837,493.5 804.3,577.8 805.1,577.8 837.7,493.5"></polygon>
                        <polygon class="st0" id="XMLID_3900_" points="827.6,493.5 796.3,577.8 800.7,577.8 831.9,493.5"></polygon>
                        <g id="XMLID_3887_">
                            <polygon class="st0" id="XMLID_3894_" points="861.8,577.8 866.1,577.8 841.7,514.8 839.5,520.3"></polygon>
                            <polygon class="st0" id="XMLID_3892_" points="870.8,577.8 871.5,577.8 844.5,507.9 844.1,508.8"></polygon>
                            <polygon class="st0" id="XMLID_3889_" points="879.5,577.8 849.2,496.1 847,501.7 875.2,577.8"></polygon>
                        </g>
                    </g>
                    <g>
                        <rect class="st0" height="65.5" id="XMLID_3884_" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1507.6436 1089.978)"
                            width="3.1" x="752.2" y="512.2">
                        </rect>
                        <rect class="st0" height="65.5" id="XMLID_3863_" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1494.2736 1089.978)"
                            width="1" x="746.7" y="512.2">
                        </rect>
                        <rect class="st0" height="65.5" id="XMLID_3860_" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1480.9532 1089.978)"
                            width="3.1" x="738.9" y="512.2">
                        </rect>
                        <rect class="st0" height="84.1" id="XMLID_3856_" transform="matrix(6.123234e-17 -1 1 6.123234e-17 239.459 1254.8655)" width="3.2"
                            x="745.6" y="465.6">
                        </rect>
                        <rect class="st0" height="84.1" id="XMLID_3853_" transform="matrix(6.123234e-17 -1 1 6.123234e-17 246.2178 1248.1067)" width="1"
                            x="746.7" y="458.9">
                        </rect>
                        <rect class="st0" height="84.1" id="XMLID_3849_" transform="matrix(6.123234e-17 -1 1 6.123234e-17 252.9516 1241.3729)" width="3.1"
                            x="745.6" y="452.1">
                        </rect>
                    </g>
                    <g>
                        <rect class="st0" height="44.2" id="XMLID_3799_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1323.0615 -575.3021)"
                            width="3.2" x="947.6" y="351.8">
                        </rect>
                        <rect class="st0" height="44.2" id="XMLID_3795_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1328.4325 -569.9312)"
                            width="1" x="948.7" y="357.2">
                        </rect>
                        <rect class="st0" height="44.2" id="XMLID_3792_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1333.7791 -564.5847)"
                            width="3.1" x="947.6" y="362.5">
                        </rect>
                        <rect class="st0" height="27.4" id="XMLID_3778_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1350.4882 -531.0449)"
                            width="3.2" x="939.2" y="396">
                        </rect>
                        <rect class="st0" height="27.4" id="XMLID_3775_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1355.8594 -525.6736)"
                            width="1" x="940.3" y="401.4">
                        </rect>
                        <rect class="st0" height="27.4" id="XMLID_3658_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1361.2065 -520.3277)"
                            width="3.1" x="939.2" y="406.8">
                        </rect>
                        <g id="XMLID_3352_">
                            <g>
                                <polygon class="st0" id="XMLID_28_" points="909.5,386.7 909.5,441.7 913.6,446.2 913.6,382.7             ">
                                </polygon>
                                <polygon class="st0" id="XMLID_27_" points="916.3,380 916.3,449.3 917,450 917,379.3             ">
                                </polygon>
                                <polygon class="st0" id="XMLID_26_" points="920.4,375.9 920.4,453.8 923.9,457.6 923.9,372.6             ">
                                </polygon>
                            </g>
                        </g>
                    </g>
                    <g>
                        <rect class="st0" height="84" id="XMLID_2942_" width="4.1" x="1132.5" y="493.2">
                        </rect>
                        <rect class="st0" height="84" id="XMLID_2941_" width="0.7" x="1141.4" y="493.2">
                        </rect>
                        <rect class="st0" height="84" id="XMLID_2940_" width="3.4" x="1146.9" y="493.2">
                        </rect>
                    </g>
                    <g>
                        <g id="XMLID_2142_">
                            <rect class="st0" height="69.4" id="XMLID_2934_" width="3.1" x="1060.5" y="493.8">
                            </rect>
                            <rect class="st0" height="69.4" id="XMLID_2888_" width="0.9" x="1056.3" y="493.8">
                            </rect>
                            <rect class="st0" height="69.4" id="XMLID_2146_" width="3" x="1050.1" y="493.8">
                            </rect>
                        </g>
                        <g id="XMLID_2010_">
                            <polygon class="st0" id="XMLID_2081_" points="1104.7,577.5 1104.7,574.4 1059,574.4 1061.7,577.5         ">
                            </polygon>
                            <polygon class="st0" id="XMLID_2016_" points="1104.7,571.2 1104.7,570.2 1055.2,570.2 1056.1,571.2       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_2013_" points="1104.7,563.9 1050.2,563.9 1050.2,564.6 1052.4,567 1104.7,567      ">
                            </polygon>
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_1871_">
                            <polygon class="st0" id="XMLID_1882_" points="908.4,598.7 971.4,598.7 971.4,595.5 911.3,595.5 908.4,598.2       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1877_" points="971.4,590.8 971.4,589.9 917.6,589.9 916.6,590.8       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1872_" points="971.4,582 926.4,582 922.9,585.2 971.4,585.2       ">
                            </polygon>
                        </g>
                        <g id="XMLID_1864_">
                            <polygon class="st0" id="XMLID_1869_" points="924.9,665.2 924.9,601.5 921.8,601.5 921.8,662.2 924.4,665.2       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1867_" points="917.1,601.5 916.2,601.5 916.2,655.8 917.1,656.9       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1865_" points="908.4,601.5 908.4,647 911.5,650.5 911.5,601.5         ">
                            </polygon>
                        </g>
                        <g id="XMLID_1857_">
                            <polygon class="st0" id="XMLID_1862_" points="990,648.5 927,648.5 927,651.7 987,651.7 990,649       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1860_" points="927,656.3 927,657.3 980.7,657.3 981.8,656.3       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1858_" points="927,665.1 972,665.1 975.5,662 927,662         ">
                            </polygon>
                        </g>
                        <g id="XMLID_1850_">
                            <polygon class="st0" id="XMLID_1855_" points="973.5,582 973.5,645.7 976.6,645.7 976.6,585 974,582       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1853_" points="981.2,645.7 982.2,645.7 982.2,591.3 981.2,590.3       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1851_" points="989.9,645.7 989.9,600.2 986.8,596.6 986.8,645.7       ">
                            </polygon>
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_1843_">
                            <polygon class="st0" id="XMLID_1848_" points="1171.5,391.9 1234.6,391.9 1234.6,388.8 1174.5,388.8 1171.5,391.4      ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1846_" points="1234.6,384.1 1234.6,383.1 1180.8,383.1 1179.7,384.1       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1844_" points="1234.6,375.3 1189.6,375.3 1186.1,378.4 1234.6,378.4       ">
                            </polygon>
                        </g>
                        <g id="XMLID_1836_">
                            <polygon class="st0" id="XMLID_1841_" points="1188.1,458.5 1188.1,394.8 1184.9,394.8 1184.9,455.5 1187.6,458.5      ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1839_" points="1180.3,394.8 1179.3,394.8 1179.3,449.1 1180.3,450.2       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1837_" points="1171.6,394.8 1171.6,440.2 1174.7,443.8 1174.7,394.8       ">
                            </polygon>
                        </g>
                        <g id="XMLID_1826_">
                            <polygon class="st0" id="XMLID_1833_" points="1253.2,441.7 1190.2,441.7 1190.2,444.9 1250.2,444.9 1253.2,442.3      ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1831_" points="1190.2,449.6 1190.2,450.6 1243.9,450.6 1245,449.6         ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1828_" points="1190.2,458.4 1235.2,458.4 1238.7,455.3 1190.2,455.3       ">
                            </polygon>
                        </g>
                        <g id="XMLID_1817_">
                            <polygon class="st0" id="XMLID_1822_" points="1236.6,375.2 1236.6,438.9 1239.8,438.9 1239.8,378.2 1237.2,375.2      ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1820_" points="1244.4,438.9 1245.4,438.9 1245.4,384.6 1244.4,383.5       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1818_" points="1253.1,438.9 1253.1,393.4 1250,389.9 1250,438.9       ">
                            </polygon>
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_1803_">
                            <rect class="st0" height="84.6" id="XMLID_1814_" width="3.1" x="453.8" y="364.3">
                            </rect>
                            <rect class="st0" height="84.6" id="XMLID_1810_" width="0.9" x="449.7" y="364.3">
                            </rect>
                            <rect class="st0" height="84.6" id="XMLID_1805_" width="3" x="443.5" y="364.3">
                            </rect>
                        </g>
                        <rect class="st0" height="34.2" id="XMLID_1799_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 842.9496 -109.8903)"
                            width="3.2" x="474.8" y="349.4">
                        </rect>
                        <rect class="st0" height="34.2" id="XMLID_1795_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 848.3209 -104.519)" width="1"
                            x="475.9" y="354.8">
                        </rect>
                        <rect class="st0" height="34.2" id="XMLID_1791_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 853.6672 -99.1728)" width="3.1"
                            x="474.9" y="360.1">
                        </rect>
                        <g id="XMLID_1768_">
                            <polygon class="st0" id="XMLID_1787_" points="459.3,399.4 459.3,402.6 504.9,402.6 507.9,399.4       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1783_" points="459.3,406.8 500.9,406.8 501.8,405.9 459.3,405.9       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1770_" points="459.3,413.3 494.9,413.3 497.8,410.1 459.3,410.1       ">
                            </polygon>
                        </g>
                        <g id="XMLID_1755_">
                            <polygon class="st0" id="XMLID_1765_" points="507.2,375.5 507.2,398 510.4,398 510.4,378.6       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1761_" points="503,398 503.9,398 503.9,372.4 503,371.5       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1757_" points="496.6,398 499.7,398 499.7,368.3 496.6,365.3       ">
                            </polygon>
                        </g>
                    </g>
                    <g>
                        <g id="XMLID_1739_">
                            <rect class="st0" height="86.6" id="XMLID_1751_" width="3.1" x="650.3" y="367.3">
                            </rect>
                            <rect class="st0" height="86.6" id="XMLID_1747_" width="0.9" x="646.2" y="367.3">
                            </rect>
                            <rect class="st0" height="86.6" id="XMLID_1740_" width="3" x="640" y="367.3">
                            </rect>
                        </g>
                        <g id="XMLID_1734_">
                            <polygon class="st0" id="XMLID_1737_" points="685.9,451.7 689.4,451.7 664.9,421.1 661.4,421.1       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1736_" points="696.2,451.7 697.3,451.7 672.7,421.1 671.6,421.1       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1735_" points="708.4,451.7 683.7,421.1 680.3,421.1 705,451.7         ">
                            </polygon>
                        </g>
                        <rect class="st0" height="34.2" id="XMLID_1658_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1043.708 -303.4995)"
                            width="3.2" x="672" y="353">
                        </rect>
                        <rect class="st0" height="34.2" id="XMLID_1656_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1049.0792 -298.1281)"
                            width="1" x="673.1" y="358.4">
                        </rect>
                        <rect class="st0" height="34.2" id="XMLID_1654_" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1054.4254 -292.782)"
                            width="3.1" x="672" y="363.7">
                        </rect>
                        <g id="XMLID_1638_">
                            <polygon class="st0" id="XMLID_1651_" points="656.5,403 656.5,406.2 702.1,406.2 705.1,403       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1649_" points="656.5,410.4 698.1,410.4 699,409.5 656.5,409.5         ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1645_" points="656.5,416.8 692.1,416.8 695,413.7 656.5,413.7         ">
                            </polygon>
                        </g>
                        <g id="XMLID_1613_">
                            <polygon class="st0" id="XMLID_1634_" points="704.4,379.1 704.4,401.6 707.5,401.6 707.5,382.2       ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1630_" points="700.2,401.6 701.1,401.6 701.1,375.9 700.2,375         ">
                            </polygon>
                            <polygon class="st0" id="XMLID_1614_" points="693.8,401.6 696.9,401.6 696.9,371.9 693.8,368.9       ">
                            </polygon>
                        </g>
                    </g>
                    <g>
                        <polygon class="st1" id="XMLID_1611_" points="453.1,454.2 456.1,454.2 455.2,645.7 452.2,645.7   ">
                        </polygon>
                        <polygon class="st1" id="XMLID_1609_" points="449.2,454.2 450.1,454.2 449.2,645.7 448.3,645.7   ">
                        </polygon>
                        <polygon class="st1" id="XMLID_1607_" points="443.2,454.2 446.1,454.2 445.2,645.7 442.3,645.7   ">
                        </polygon>
                    </g>
                    <g>
                        <g>
                            <g class="st2" id="XMLID_24_">
                                <polygon class="st0" points="384.2,759.1 387.2,759.1 386.3,950.6 383.3,950.6"></polygon>
                            </g>
                            <g class="st2" id="XMLID_23_">
                                <polygon class="st0" points="380.3,759.1 381.2,759.1 380.3,950.6 379.4,950.6"></polygon>
                            </g>
                            <g class="st2" id="XMLID_22_">
                                <polygon class="st0" points="374.3,759.1 377.2,759.1 376.3,950.6 373.4,950.6"></polygon>
                            </g>
                        </g>
                    </g>
                    <polygon class="st3" id="XMLID_1531_" points="1061.2,460.9 1064.2,460.9 1063.3,490.1 1060.3,490.1"></polygon>
                    <polygon class="st3" id="XMLID_1529_" points="1057.2,460.9 1058.1,460.9 1057.2,490.1 1056.4,490.1 "></polygon>
                    <polygon class="st3" id="XMLID_1525_" points="1051.3,460.9 1054.2,460.9 1053.3,490.1 1050.4,490.1 "></polygon>
                    <polygon class="st3" id="XMLID_1523_" points="1145.8,460.9 1148.8,460.9 1147.9,490.1 1144.9,490.1 "></polygon>
                    <polygon class="st3" id="XMLID_1521_" points="1141.8,460.9 1142.7,460.9 1141.9,490.1 1141,490.1 "></polygon>
                    <polygon class="st3" id="XMLID_1518_" points="1135.9,460.9 1138.8,460.9 1137.9,490.1 1135,490.1 "></polygon>
                    <g>
                        <polygon class="st3" id="XMLID_1514_" points="1357.5,164.9 1360.4,164.9 1359.5,418.2 1356.6,418.2"></polygon>
                        <polygon class="st3" id="XMLID_1497_" points="1353.5,164.9 1354.4,164.9 1353.5,418.2 1352.6,418.2"></polygon>
                        <polygon class="st3" id="XMLID_1493_" points="1347.5,164.9 1350.4,164.9 1349.6,418.2 1346.6,418.2"></polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="1016.2,-0.5 1015.6,173.5 1018.6,173.5 1019.2,-0.5  ">
                        </polygon>
                        <polygon class="st3" points="1012.3,-0.5 1011.7,173.5 1012.6,173.5 1013.2,-0.5  ">
                        </polygon>
                        <polygon class="st3" points="1006.3,-0.5 1005.7,173.5 1008.6,173.5 1009.2,-0.5  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" id="XMLID_1411_" points="1565.8,660.5 1568.8,660.5 1567.9,896.7 1564.9,896.7   ">
                        </polygon>
                        <polygon class="st3" id="XMLID_1403_" points="1561.8,660.5 1562.7,660.5 1561.8,896.7 1561,896.7     ">
                        </polygon>
                        <polygon class="st3" id="XMLID_1396_" points="1555.9,660.5 1558.8,660.5 1557.9,896.7 1555,896.7     ">
                        </polygon>
                    </g>
                    <polygon class="st3" id="XMLID_1391_" points="453.1,72.7 456.1,72.7 455.2,359.6 452.2,359.6 "></polygon>
                    <polygon class="st3" id="XMLID_1388_" points="449.2,72.7 450.1,72.7 449.2,359.6 448.3,359.6 "></polygon>
                    <polygon class="st3" id="XMLID_1386_" points="443.2,72.7 446.1,72.7 445.2,359.6 442.3,359.6 "></polygon>
                    <polygon class="st3" id="XMLID_1363_" points="751.5,583.6 754.5,583.6 753.6,866.4 750.7,866.4 "></polygon>
                    <polygon class="st3" id="XMLID_1351_" points="747.6,583.6 748.5,583.6 747.6,866.4 746.7,866.4 "></polygon>
                    <polygon class="st3" id="XMLID_1346_" points="741.6,583.6 744.5,583.6 743.6,866.4 740.7,866.4 "></polygon>
                    <polygon class="st3" id="XMLID_1341_" points="920.9,96.1 923.9,96.1 923,294.6 920.1,294.6 "></polygon>
                    <polygon class="st3" id="XMLID_1332_" points="917,96.1 917.9,96.1 917,294.6 916.1,294.6 "></polygon>
                    <polygon class="st3" id="XMLID_1310_" points="911,96.1 913.9,96.1 913,294.6 910.1,294.6 "></polygon>
                    <polygon class="st3" id="XMLID_1257_" points="438.9,220.1 438.9,223.1 156.5,222.2 156.5,219.2 "></polygon>
                    <polygon class="st3" id="XMLID_1246_" points="438.9,216.1 438.9,217 156.5,216.1 156.5,215.2 "></polygon>
                    <polygon class="st3" id="XMLID_1242_" points="438.9,210 438.9,213 156.5,212.1 156.5,209.1 "></polygon>
                    <polygon class="st3" id="XMLID_1213_" points="637.4,220.1 637.4,223.1 459.7,222.2 459.7,219.2 "></polygon>
                    <polygon class="st3" id="XMLID_1184_" points="637.4,216.1 637.4,217 459.7,216.1 459.7,215.2 "></polygon>
                    <polygon class="st3" id="XMLID_1054_" points="637.4,210 637.4,213 459.7,212.1 459.7,209.1 "></polygon>
                    <polygon class="st3" id="XMLID_1048_" points="701.5,504.4 701.5,507.4 550.8,506.5 550.8,503.5 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_1044_" points="701.5,500.4 701.5,501.3 550.8,500.4 550.8,499.5 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_972_" points="701.5,494.4 701.5,497.3 550.8,496.4 550.8,493.5 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_968_" points="597.5,354.1 597.5,357.1 462.7,356.2 462.7,353.2 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_941_" points="597.5,350.1 597.5,351 462.7,350.1 462.7,349.2 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_930_" points="597.5,344.1 597.5,347 462.7,346.1 462.7,343.2 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_912_" points="436.9,311.9 436.9,314.9 317.2,314 317.2,311 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_899_" points="436.9,307.9 436.9,308.8 317.2,307.9 317.2,307 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_892_" points="436.9,301.9 436.9,304.8 317.2,303.9 317.2,301 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_883_" points="1104.7,310.8 1104.7,313.8 809.7,312.9 809.7,309.9 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_873_" points="1104.7,306.8 1104.7,307.7 809.7,306.8 809.7,305.9 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_855_" points="1104.7,300.7 1104.7,303.7 809.7,302.8 809.7,299.8 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_811_" points="1391.2,695.7 1391.2,698.7 1258.6,697.8 1258.6,694.8 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_803_" points="1391.2,691.7 1391.2,692.6 1258.6,691.7 1258.6,690.8 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_799_" points="1391.2,685.6 1391.2,688.6 1258.6,687.7 1258.6,684.7 ">
                    </polygon>
                    <polygon class="st3" points="1670,654 1456.4,653.2 1456.4,656.1 1670,657 ">
                    </polygon>
                    <polygon class="st3" points="1670,650 1456.4,649.1 1456.4,650.1 1670,650.9 ">
                    </polygon>
                    <polygon class="st3" points="1670,644 1456.4,643.1 1456.4,646.1 1670,646.9 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_694_" points="1050.1,383.3 1050.1,386.3 975,385.4 975,382.4 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_678_" points="1050.1,379.3 1050.1,380.2 975,379.3 975,378.4 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_674_" points="1050.1,373.2 1050.1,376.2 975,375.3 975,372.3 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_663_" points="1166.7,453 1166.7,456 1050.1,455.1 1050.1,452.1 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_658_" points="1166.7,449 1166.7,449.9 1050.1,449 1050.1,448.1 ">
                    </polygon>
                    <polygon class="st3" id="XMLID_656_" points="1166.7,443 1166.7,445.9 1050.1,445 1050.1,442.1 ">
                    </polygon>
                    <g>
                        <polygon class="st1" points="806.4,581.6 758.8,709.2 758.8,717 809.3,581.6  ">
                        </polygon>
                        <polygon class="st1" points="758.8,698.9 758.8,701.2 803.4,581.6 802.5,581.6    ">
                        </polygon>
                        <polygon class="st1" points="758.8,683.2 758.8,690.9 799.5,581.6 796.6,581.6    ">
                        </polygon>
                    </g>
                    <g>
                        <g id="XMLID_419_">
                            <polygon class="st0" id="XMLID_632_" points="532.2,383.4 595.2,383.4 595.2,380.2 535.2,380.2 532.2,382.9        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_446_" points="595.2,375.5 595.2,374.6 541.5,374.6 540.4,375.5        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_422_" points="595.2,366.7 550.2,366.7 546.7,369.9 595.2,369.9        ">
                            </polygon>
                        </g>
                        <g id="XMLID_230_">
                            <polygon class="st0" id="XMLID_415_" points="548.7,449.9 548.7,386.2 545.6,386.2 545.6,446.9 548.2,449.9        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_241_" points="540.9,386.2 540,386.2 540,440.5 540.9,441.6        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_232_" points="532.3,386.2 532.3,431.7 535.4,435.2 535.4,386.2        ">
                            </polygon>
                        </g>
                        <g id="XMLID_166_">
                            <polygon class="st0" id="XMLID_219_" points="613.8,433.2 550.8,433.2 550.8,436.4 610.9,436.4 613.8,433.7        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_204_" points="550.8,441.1 550.8,442 604.6,442 605.6,441.1        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_172_" points="550.8,449.8 595.8,449.8 599.3,446.7 550.8,446.7        ">
                            </polygon>
                        </g>
                        <g id="XMLID_95_">
                            <polygon class="st0" id="XMLID_162_" points="597.3,366.7 597.3,430.4 600.4,430.4 600.4,369.7 597.8,366.7        ">
                            </polygon>
                            <polygon class="st0" id="XMLID_149_" points="605.1,430.4 606,430.4 606,376.1 605.1,375      ">
                            </polygon>
                            <polygon class="st0" id="XMLID_98_" points="613.8,430.4 613.8,384.9 610.7,381.4 610.7,430.4         ">
                            </polygon>
                        </g>
                    </g>
                    <a href="oracle-index.php" id="button-oracle" style="cursor: pointer;">
                        <g class="button-oracle">
                            <g>
                                <g>
                                    <g>
                                        <rect class="st4" height="5.8" transform="matrix(0.9999 -1.173536e-02 1.173536e-02 0.9999 -2.414 11.6297)" width="59.1" x="960.2"
                                            y="208.6">
                                        </rect>
                                    </g>
                                    <g>
                                        <rect class="st4" height="5.8" transform="matrix(0.9999 -1.169136e-02 1.169136e-02 0.9999 -2.5203 11.8326)" width="17.3"
                                            x="1002.1" y="218.6">
                                        </rect>
                                    </g>
                                </g>
                            </g>
                            <rect class="st5" height="55.4" width="270.6" x="960.2" y="191">
                            </rect>
                            <g>
                                <path class="st0" d="M1038.8,226.2c-0.2-1-0.4-2.1-0.5-3.3c-0.1-1.3-0.2-2.8-0.2-4.5c0-1.8,0.1-3.4,0.3-5c0.2-1.6,0.5-2.9,0.8-4
                                                                                                        c0.3-1.1,0.8-2,1.4-2.8c0.6-0.8,1.2-1.4,1.8-1.8c0.6-0.4,1.3-0.8,2.2-1c1.4-0.4,2.8-0.6,4.4-0.6c1.5,0,2.7,0,3.4,0.1
                                                                                                        s1.5,0.2,2.2,0.4c0.8,0.2,1.5,0.4,2,0.8c0.6,0.3,1.1,0.8,1.7,1.3c0.6,0.5,1,1.2,1.4,2c0.4,0.8,0.7,1.7,1,2.7
                                                                                                        c0.6,2.1,0.9,4.5,0.9,7.2c0,2.8-0.1,4.9-0.3,6.4c-0.2,1.5-0.5,2.8-0.8,3.8c-0.3,1.1-0.8,2-1.3,2.8c-0.5,0.8-1.1,1.4-1.7,1.8
                                                                                                        s-1.3,0.8-2.2,1.1c-2,0.6-4.6,0.8-7.8,0.6c-1.7-0.1-2.9-0.3-3.6-0.6c-0.7-0.3-1.4-0.7-1.9-1.1c-0.5-0.4-1-0.8-1.4-1.4
                                                                                                        c-0.4-0.5-0.7-1.2-1.1-2C1039.3,228.1,1039,227.2,1038.8,226.2z M1044.3,212.4c-0.1,0.7-0.2,1.6-0.3,2.6c-0.1,1-0.1,2.3-0.1,3.9
                                                                                                        s0.1,2.9,0.2,4s0.3,2,0.5,2.8c0.3,0.8,0.6,1.4,1.1,1.8c0.9,0.7,2.3,1,4.3,1c1.9,0,3.3-0.4,4.2-1.1c1.3-1,2-3.9,2-8.8
                                                                                                        c0-3.3-0.2-5.4-0.5-6.5c-0.3-1.1-0.6-1.8-0.9-2.3c-0.3-0.4-0.7-0.8-1.2-1c-0.8-0.4-1.8-0.5-2.9-0.5c-1.1,0-1.9,0-2.3,0.1
                                                                                                        c-0.4,0-0.9,0.1-1.4,0.3c-0.5,0.1-0.9,0.4-1.2,0.6c-0.3,0.3-0.6,0.7-0.8,1.2C1044.6,211.1,1044.4,211.7,1044.3,212.4z">
                                </path>
                                <path class="st0" d="M1081.9,203.2c2.6,0,4.5,0.7,5.7,2c1.5,1.6,2.3,4.1,2.3,7.5c0,3.9-0.8,6.5-2.4,7.8c-0.5,0.4-0.9,0.7-1.2,0.8
                                                                                                        c-0.3,0.1-0.7,0.2-1.2,0.4l5.6,12h-6.3l-4.8-11.6l-4.9-0.6v12.1h-5.6v-30.5H1081.9z M1074.7,217h6.6c1,0,1.8-0.3,2.2-0.8
                                                                                                        s0.7-1.7,0.7-3.4c0-1.7-0.2-2.9-0.7-3.5c-0.5-0.6-1.2-0.9-2.2-0.9h-6.6V217z">
                                </path>
                                <path class="st0" d="M1096.6,233.8l9.9-30.5h6.4l9.5,30.5h-6l-2.1-6.8h-9.6l-2.1,6.8H1096.6z M1106.2,221.8h6.8l-3.3-10.9
                                                                                                        L1106.2,221.8z">
                                </path>
                                <path class="st0" d="M1129.4,207c1.1-1.8,2.5-3,4.4-3.6c1-0.3,2.2-0.5,3.5-0.5c3.8,0,7.2,0.5,10.2,1.4v4.6
                                                                                                        c-0.4-0.1-0.8-0.1-1.1-0.1c-0.3,0-0.7-0.1-1.2-0.1s-1-0.1-1.5-0.1c-0.5,0-1.1-0.1-1.6-0.1c-1.3-0.1-2.4-0.1-3.4-0.1
                                                                                                        s-1.8,0.1-2.3,0.2s-1.1,0.4-1.6,0.8c-0.5,0.4-0.9,0.9-1.1,1.7c-0.5,1.6-0.8,4.2-0.8,7.7c0,3.5,0.4,6.1,1.2,7.7s2.3,2.4,4.5,2.4
                                                                                                        c2.5,0,5-0.1,7.6-0.3l1.3-0.1v4.5c-2.4,0.8-5.5,1.2-9.3,1.2c-0.3,0-0.6,0-0.9,0c-3.6,0-6.1-1.4-7.7-4c-1.5-2.6-2.3-6.6-2.3-11.8
                                                                                                        C1127.4,213,1128.1,209.3,1129.4,207z">
                                </path>
                                <path class="st0" d="M1155,227.9v-24.6h5.6v23c0,1.1,0.3,1.7,0.8,1.9c0.4,0.2,0.9,0.2,1.6,0.2h10v5.4h-12
                                                                                                        C1157,233.8,1155,231.8,1155,227.9z">
                                </path>
                                <path class="st0" d="M1182.5,204.4c0.7-0.4,1.3-0.7,2-0.9c0.7-0.2,1.2-0.2,1.6-0.2c0.4,0,2.3,0,5.8,0.1c3.5,0.1,6,0.3,7.8,0.5v4.8
                                                                                                        h-11.5c-1,0-1.6,0.2-1.8,0.8c-0.2,0.4-0.2,0.9-0.2,1.6v4.8l11.8,0.4v4.8l-11.8,0.4v4.8c0,1.1,0.3,1.7,0.8,1.9
                                                                                                        c0.4,0.2,0.9,0.2,1.6,0.2h11.1v4.8c-1.3,0.2-4.6,0.4-9.9,0.6l-2.6,0.1c-0.2,0-0.5,0-0.7,0c-0.3,0-0.6,0-1.1-0.1s-1-0.2-1.6-0.4
                                                                                                        c-0.6-0.3-1.2-0.6-1.7-1c-1.1-1-1.6-2.5-1.6-4.6v-18.2C1180.4,207,1181.1,205.3,1182.5,204.4z">
                                </path>
                            </g>
                        </g>
                    </a>
                    <g>
                        <polygon class="st3" points="542.2,449.8 541.7,503.9 544,506.5 544.6,506.5 545.1,452.6  ">
                        </polygon>
                        <polygon class="st3" points="537.8,499.7 538.7,500.6 539.2,446.9 538.3,446  ">
                        </polygon>
                        <polygon class="st3" points="532,493.2 534.8,496.3 535.3,443.1 532.4,440.3  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st0" points="306.1,490.5 309,490.5 309.9,299.4 306.9,302.2  ">
                        </polygon>
                        <polygon class="st0" points="302.1,490.5 303,490.5 303.8,305.1 302.9,305.9  ">
                        </polygon>
                        <polygon class="st0" points="296.1,490.5 299,490.5 299.9,308.8 297,311.5    ">
                        </polygon>
                        <polygon class="st0" points="1363.5,655 1366.4,655 1367.3,463.5 1364.3,463.5    ">
                        </polygon>
                        <polygon class="st0" points="1359.5,655 1360.4,655 1361.3,463.5 1360.4,463.5    ">
                        </polygon>
                        <polygon class="st0" points="1353.5,655 1356.4,655 1357.3,463.5 1354.4,463.5    ">
                        </polygon>
                        <polygon class="st0" points="1448.1,655 1449,463.5 1446,463.5 1445.1,652.3 1447.3,655   ">
                        </polygon>
                        <polygon class="st0" points="1442,463.5 1441.2,647.3 1442.1,648.4 1442.9,463.5  ">
                        </polygon>
                        <polygon class="st0" points="1436.1,463.5 1435.3,639.7 1438.2,643.4 1439,463.5  ">
                        </polygon>
                        <polygon class="st0" points="373.4,672.7 644.2,673.6 644.2,670.6 373.4,669.7    ">
                        </polygon>
                        <polygon class="st0" points="373.4,666.6 644.2,667.5 644.2,666.6 373.4,665.7    ">
                        </polygon>
                        <polygon class="st0" points="373.4,662.6 644.2,663.5 644.2,660.6 373.4,659.7    ">
                        </polygon>
                        <polygon class="st0" points="1019.6,191 1230.8,191.8 1230.8,188.9 1016.3,188    ">
                        </polygon>
                        <polygon class="st0" points="1012.9,184.9 1230.8,185.8 1230.8,184.9 1011.9,184  ">
                        </polygon>
                        <polygon class="st0" points="1008.5,180.9 1230.8,181.8 1230.8,178.8 1005.3,177.9    ">
                        </polygon>
                        <polygon class="st0" points="1004.4,258.5 1230.8,259.4 1230.8,256.4 1004.4,255.5    ">
                        </polygon>
                        <polygon class="st0" points="1004.4,252.4 1230.8,253.3 1230.8,252.4 1004.4,251.5    ">
                        </polygon>
                        <polygon class="st0" points="1004.4,248.4 1230.8,249.3 1230.8,246.4 1004.4,245.5    ">
                        </polygon>
                        <polygon class="st0" points="227.5,490.5 230.5,490.5 231.3,299 228.4,299    ">
                        </polygon>
                        <polygon class="st0" points="223.5,490.5 224.4,490.5 225.3,299 224.4,299    ">
                        </polygon>
                        <polygon class="st0" points="217.6,490.5 220.5,490.5 221.4,299 218.5,299    ">
                        </polygon>
                        <polygon class="st0" points="379.1,749.8 644.2,750.6 644.2,747.7 382,746.8  ">
                        </polygon>
                        <polygon class="st0" points="385,743.7 644.2,744.6 644.2,743.7 385.9,742.8  ">
                        </polygon>
                        <polygon class="st0" points="388.9,739.7 644.2,740.6 644.2,737.6 391.8,736.8    ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="615.2,294.6 612.3,294.6 611.5,378.1 614.4,381.1    ">
                        </polygon>
                        <polygon class="st3" points="608.3,294.6 607.6,374 608.5,374.9 609.2,294.6  ">
                        </polygon>
                        <polygon class="st3" points="602.4,294.6 601.7,367.8 604.6,370.8 605.3,294.6    ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="726.9,209.1 831.2,489.2 834.4,489.2 729.7,208.1    ">
                        </polygon>
                        <polygon class="st3" points="732.5,206.9 837.7,489.2 838.6,489.2 733.4,206.6    ">
                        </polygon>
                        <polygon class="st3" points="738.9,204.5 736.2,205.5 841.9,489.2 845,489.2  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="923.9,316.3 920.9,316.3 920.5,371.9 923.4,369.2    ">
                        </polygon>
                        <polygon class="st3" points="917,316.3 916.5,375.6 917.4,374.7 917.9,316.3  ">
                        </polygon>
                        <polygon class="st3" points="911,316.3 910.5,381 913.4,378.4 913.9,316.3    ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="923.8,460.9 920.8,457.9 920.2,581.4 923.2,578.7    ">
                        </polygon>
                        <polygon class="st3" points="916.9,453.9 916.3,584.9 917.2,584.1 917.8,454.8    ">
                        </polygon>
                        <polygon class="st3" points="911,447.9 910.3,590.3 913.2,587.7 913.9,450.8  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="1150.3,597.8 1150.3,594.8 989.1,594 991.7,597  ">
                        </polygon>
                        <polygon class="st3" points="1150.3,591.7 1150.3,590.8 985.7,590 986.5,590.9    ">
                        </polygon>
                        <polygon class="st3" points="1150.3,584.7 980.6,583.9 983.1,586.9 1150.3,587.7  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="1342,390.1 1342,387.1 1253.6,386.4 1256.4,389.4    ">
                        </polygon>
                        <polygon class="st3" points="1342,384 1342,383.1 1249.9,382.3 1250.8,383.2  ">
                        </polygon>
                        <polygon class="st3" points="1342,377.1 1244.4,376.2 1247.1,379.2 1342,380  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="1249.3,450.6 1248.4,695.4 1251.4,699.7 1251.4,699.7 1252.2,447.6   ">
                        </polygon>
                        <polygon class="st3" points="1244.5,689.7 1245.4,691 1246.2,453.7 1245.3,454.6  ">
                        </polygon>
                        <polygon class="st3" points="1238.6,681 1241.4,685.2 1242.2,457.6 1239.3,460.5  ">
                        </polygon>
                    </g>
                    <g>
                        <polygon class="st3" points="650.6,219.5 649.7,362.9 652.7,362.9 653.5,222.7    ">
                        </polygon>
                        <polygon class="st3" points="645.8,362.9 646.7,362.9 647.5,216.2 646.6,215.2    ">
                        </polygon>
                        <polygon class="st3" points="640.7,209.5 639.8,362.9 642.7,362.9 643.6,211.9 641.4,209.5    ">
                        </polygon>
                    </g>
                    <rect class="st6" height="956.2" width="1670">
                    </rect>
                    <a href="hp-index.php" id="button-hp" style="cursor: pointer;">
                        <g class="button-hp">
                            <g>
                                <rect class="st4" height="59.8" transform="matrix(0.9999 -1.146579e-02 1.146579e-02 0.9999 -7.3345 16.0434)" width="5.8"
                                    x="1392.6" y="617.8">
                                </rect>
                                <rect class="st4" height="17.5" transform="matrix(0.9999 -1.142456e-02 1.142456e-02 0.9999 -7.0648 16.0968)" width="5.8"
                                    x="1402.5" y="617.7">
                                </rect>
                            </g>
                            <g>
                                <path class="st0" d="M1417,605.8h-30.2v-5.7h12.9V590h-12.9v-5.7h30.2v5.7h-12v10.1h12V605.8z">
                                </path>
                                <path class="st0" d="M1387.9,574c-0.4-0.7-0.7-1.3-0.9-2c-0.2-0.7-0.2-1.2-0.2-1.6s0-2.3,0.1-5.8c0.1-3.5,0.3-6.1,0.5-7.8h4.8
                                                                                                        v11.7c0,1,0.2,1.6,0.7,1.9c0.4,0.2,0.9,0.2,1.6,0.2h4.7l0.4-12h4.8l0.4,12h4.7c1,0,1.7-0.3,1.9-0.8c0.2-0.4,0.2-1,0.2-1.7v-11.3
                                                                                                        h4.7c0.2,1.3,0.4,4.7,0.6,10l0.1,2.6c0,0.2,0,0.5,0,0.7c0,0.3,0,0.7-0.1,1.1c0,0.5-0.2,1-0.4,1.7c-0.2,0.6-0.6,1.2-1,1.7
                                                                                                        c-1,1.1-2.5,1.6-4.6,1.6h-18C1390.6,576.2,1388.9,575.4,1387.9,574z">
                                </path>
                                <path class="st0" d="M1386.8,550.2v-6l22.4-6.5l-22.4-5.3v-6.1l7.8,2.1l14.7-4.7l-22.5-5.4v-6l30.2,8.1v6.5l-12.4,4l12.4,3.5v6.5
                                                                                                        L1386.8,550.2z">
                                </path>
                                <path class="st0" d="M1411.1,504.9h-24.3v-5.7h22.7c1,0,1.7-0.3,1.9-0.8c0.2-0.4,0.2-1,0.2-1.7v-10.1h5.3v12.2
                                                                                                        C1417,502.9,1415,504.9,1411.1,504.9z">
                                </path>
                                <path class="st0" d="M1387.9,477c-0.4-0.7-0.7-1.3-0.9-2c-0.2-0.7-0.2-1.2-0.2-1.6s0-2.3,0.1-5.8c0.1-3.5,0.3-6.1,0.5-7.8h4.8
                                                                                                        v11.7c0,1,0.2,1.6,0.7,1.9c0.4,0.2,0.9,0.2,1.6,0.2h4.7l0.4-12h4.8l0.4,12h4.7c1,0,1.7-0.3,1.9-0.8c0.2-0.4,0.2-1,0.2-1.7v-11.3
                                                                                                        h4.7c0.2,1.3,0.4,4.7,0.6,10l0.1,2.6c0,0.2,0,0.5,0,0.7c0,0.3,0,0.7-0.1,1.1c0,0.5-0.2,1-0.4,1.7c-0.2,0.6-0.6,1.2-1,1.7
                                                                                                        c-1,1.1-2.5,1.6-4.6,1.6h-18C1390.6,479.2,1388.9,478.5,1387.9,477z">
                                </path>
                                <path class="st0" d="M1392.1,453.4h-5.3v-21.9h5.3v8.2h24.9v5.7h-24.9V453.4z">
                                </path>
                                <path class="st0" d="M1392.1,425.3h-5.3v-21.9h5.3v8.2h24.9v5.7h-24.9V425.3z">
                                </path>
                                <path class="st0" d="M1417,382.4h-30.2v-12.7c0-2.9,0.8-5.1,2.5-6.4c1.5-1.2,3.8-1.8,6.8-1.8c1.8,0,3.3,0.2,4.5,0.5
                                                                                                        c1.3,0.4,2.2,0.8,2.9,1.3c0.7,0.5,1.2,1.2,1.5,2c0.5,1.1,0.7,2.2,0.7,3.5c0,0.9-0.1,2.5-0.4,4.6c-0.2,2.1-0.4,3.2-0.5,3.3h12
                                                                                                        V382.4z M1391.9,370.1v6.6h8.8v-6.6c0-0.6-0.1-1.2-0.4-1.6c-0.5-0.9-2-1.4-4.2-1.4C1393.3,367.2,1391.9,368.1,1391.9,370.1z">
                                </path>
                                <path class="st0" d="M1417,358.3l-30.2-10v-6.4l30.2-9.6v6l-6.7,2.1v9.7l6.7,2.1V358.3z M1405.2,348.6v-6.9l-10.8,3.3
                                                                                                        L1405.2,348.6z">
                                </path>
                                <path class="st0" d="M1390.5,325.2c-1.8-1.1-3-2.6-3.6-4.5c-0.3-1.1-0.5-2.2-0.5-3.6c0-3.9,0.5-7.3,1.4-10.3h4.5
                                                                                                        c-0.1,0.4-0.1,0.8-0.1,1.1c0,0.3-0.1,0.7-0.1,1.2s-0.1,1-0.1,1.5c0,0.6-0.1,1.1-0.1,1.6c-0.1,1.3-0.1,2.4-0.1,3.4s0.1,1.8,0.2,2.3
                                                                                                        c0.1,0.6,0.4,1.1,0.7,1.6s0.9,0.9,1.7,1.1c1.6,0.5,4.1,0.8,7.6,0.8s6-0.4,7.6-1.2c1.6-0.8,2.3-2.3,2.3-4.5c0-2.5-0.1-5.1-0.2-7.7
                                                                                                        l-0.1-1.3h4.5c0.8,2.4,1.2,5.6,1.2,9.4c0,0.3,0,0.6,0,0.9c0,3.6-1.3,6.2-4,7.7s-6.5,2.3-11.6,2.3S1392.8,326.5,1390.5,325.2z">
                                </path>
                                <path class="st0" d="M1417,299.3h-30.2v-5.4h12.6v-2.4l-12.6-7.5v-6.6l15.1,9.1l15.1-9.1v6.6l-12.5,7.5v2.3h12.5V299.3z">
                                </path>
                                <path class="st0" d="M1417,271l-30.2-10v-6.4l30.2-9.6v6l-6.7,2.1v9.7l6.7,2.1V271z M1405.2,261.3v-6.9l-10.8,3.3L1405.2,261.3z">
                                </path>
                                <path class="st0" d="M1386.8,225.3c0-2.6,0.7-4.5,2-5.8c1.6-1.5,4.1-2.3,7.4-2.3c3.9,0,6.4,0.8,7.7,2.4c0.4,0.5,0.7,0.9,0.8,1.2
                                                                                                        c0.1,0.3,0.2,0.7,0.4,1.2l11.9-5.6v6.4l-11.4,4.9l-0.6,5h12v5.7h-30.2V225.3z M1400.5,232.5v-6.7c0-1.1-0.3-1.8-0.8-2.2
                                                                                                        s-1.7-0.7-3.3-0.7s-2.8,0.2-3.4,0.7s-0.9,1.2-0.9,2.2v6.7H1400.5z">
                                </path>
                                <path class="st0" d="M1392.1,210.5h-5.3v-21.9h5.3v8.2h24.9v5.7h-24.9V210.5z">
                                </path>
                            </g>
                            <rect class="st5" height="499.7" width="60.2" x="1367.3" y="177.9">
                            </rect>
                        </g>
                    </a>
                    <a href="kaspersky-index.php" id="button-kas" style="cursor: pointer;">
                        <g class="button-kas">
                            <g>
                                <g>
                                    <g>
                                        <rect class="st4" height="5.8" transform="matrix(0.9999 -1.173536e-02 1.173536e-02 0.9999 -8.2372 4.1832)" width="59.1" x="322.8"
                                            y="701.1">
                                        </rect>
                                    </g>
                                    <g>
                                        <rect class="st4" height="5.8" transform="matrix(0.9999 -1.169136e-02 1.169136e-02 0.9999 -8.3214 4.4138)" width="17.3" x="364.7"
                                            y="711">
                                        </rect>
                                    </g>
                                </g>
                            </g>
                            <g>
                                <path class="st0" d="M395.8,719.3v-30.5h5.4v12.8h2.4l7.4-12.8h6.5l-9,15.3l9,15.2h-6.5l-7.4-12.6h-2.3v12.6H395.8z">
                                </path>
                                <path class="st0" d="M423.8,719.3l9.9-30.5h6.4l9.5,30.5h-6l-2.1-6.8h-9.6l-2.1,6.8H423.8z M433.4,707.4h6.8l-3.3-10.9
                                                                                                        L433.4,707.4z">
                                </path>
                                <path class="st0" d="M454.9,699v-2.6c0-2.9,0.8-5,2.3-6.2c1.4-1.1,3.3-1.6,5.6-1.7c0.3,0,1,0,2,0c1,0,2.5,0.1,4.5,0.3
                                                                                                        c2,0.2,3.6,0.5,4.8,0.9v4.6c-3-0.3-5.5-0.4-7.3-0.4s-2.8,0-2.9,0c-1.2,0-2.1,0.2-2.6,0.5c-0.6,0.3-0.8,1.2-0.8,2.5v1.5
                                                                                                        c0,1.2,0.2,1.9,0.7,2.3c0.5,0.4,1.3,0.6,2.4,0.6h4.6c3,0,5.1,1.3,6.1,3.8c0.5,1.3,0.8,2.7,0.8,4.3v2c0,3.7-1.2,6.2-3.6,7.3
                                                                                                        c-1.2,0.6-2.7,0.9-4.5,0.9c-4.8,0-8.6-0.4-11.3-1.3v-4.6c2.9,0.3,5.5,0.5,7.7,0.5c2.2,0,3.5,0,3.8-0.1c0.4-0.1,0.7-0.2,1.1-0.3
                                                                                                        c0.8-0.4,1.2-1.1,1.2-2.2V710c0-1.4-0.4-2.3-1.3-2.7c-0.3-0.1-0.8-0.2-1.3-0.2h-4.5C457.4,707.1,454.9,704.4,454.9,699z">
                                </path>
                                <path class="st0" d="M482.5,719.3v-30.5h12.6c2.9,0,5,0.8,6.3,2.5c1.2,1.5,1.8,3.8,1.8,6.9c0,1.8-0.2,3.3-0.5,4.6
                                                                                                        c-0.4,1.3-0.8,2.3-1.3,2.9c-0.5,0.7-1.2,1.2-2,1.6c-1,0.5-2.2,0.8-3.5,0.8c-0.9,0-2.4-0.1-4.5-0.4c-2.1-0.3-3.2-0.4-3.3-0.5v12.1
                                                                                                        H482.5z M494.6,693.9h-6.6v8.9h6.6c0.6,0,1.2-0.1,1.6-0.4c0.9-0.6,1.4-2,1.4-4.3C497.5,695.4,496.6,693.9,494.6,693.9z">
                                </path>
                                <path class="st0" d="M513,689.9c0.7-0.4,1.3-0.7,2-0.9c0.7-0.2,1.2-0.2,1.6-0.2c0.4,0,2.3,0,5.8,0.1c3.5,0.1,6,0.3,7.8,0.5v4.8
                                                                                                        h-11.5c-1,0-1.6,0.2-1.8,0.8c-0.2,0.4-0.2,0.9-0.2,1.6v4.8l11.8,0.4v4.8l-11.8,0.4v4.8c0,1.1,0.3,1.7,0.8,1.9
                                                                                                        c0.4,0.2,0.9,0.2,1.6,0.2H530v4.8c-1.3,0.2-4.6,0.4-9.9,0.6l-2.6,0.1c-0.2,0-0.5,0-0.7,0s-0.6,0-1.1-0.1c-0.5,0-1-0.2-1.6-0.4
                                                                                                        c-0.6-0.3-1.2-0.6-1.7-1c-1.1-1-1.6-2.5-1.6-4.6v-18.2C510.8,692.6,511.5,690.8,513,689.9z">
                                </path>
                                <path class="st0" d="M550,688.8c2.6,0,4.5,0.7,5.7,2c1.5,1.6,2.3,4.1,2.3,7.5c0,3.9-0.8,6.5-2.4,7.8c-0.5,0.4-0.9,0.7-1.2,0.8
                                                                                                        c-0.3,0.1-0.7,0.2-1.2,0.4l5.6,12h-6.3l-4.8-11.6l-4.9-0.6v12.1h-5.6v-30.5H550z M542.8,702.6h6.6c1,0,1.8-0.3,2.2-0.8
                                                                                                        c0.4-0.6,0.7-1.7,0.7-3.4c0-1.7-0.2-2.9-0.7-3.5c-0.5-0.6-1.2-0.9-2.2-0.9h-6.6V702.6z">
                                </path>
                                <path class="st0" d="M565.4,699v-2.6c0-2.9,0.8-5,2.3-6.2c1.4-1.1,3.3-1.6,5.6-1.7c0.3,0,1,0,2,0c1,0,2.5,0.1,4.5,0.3
                                                                                                        c2,0.2,3.6,0.5,4.8,0.9v4.6c-3-0.3-5.5-0.4-7.3-0.4s-2.8,0-2.9,0c-1.2,0-2.1,0.2-2.6,0.5c-0.6,0.3-0.8,1.2-0.8,2.5v1.5
                                                                                                        c0,1.2,0.2,1.9,0.7,2.3c0.5,0.4,1.3,0.6,2.4,0.6h4.6c3,0,5.1,1.3,6.1,3.8c0.5,1.3,0.8,2.7,0.8,4.3v2c0,3.7-1.2,6.2-3.6,7.3
                                                                                                        c-1.2,0.6-2.7,0.9-4.5,0.9c-4.8,0-8.6-0.4-11.3-1.3v-4.6c2.9,0.3,5.5,0.5,7.7,0.5c2.2,0,3.5,0,3.8-0.1c0.4-0.1,0.7-0.2,1.1-0.3
                                                                                                        c0.8-0.4,1.2-1.1,1.2-2.2V710c0-1.4-0.4-2.3-1.3-2.7c-0.3-0.1-0.8-0.2-1.3-0.2H573C567.9,707.1,565.4,704.4,565.4,699z">
                                </path>
                                <path class="st0" d="M593.4,719.3v-30.5h5.4v12.8h2.4l7.4-12.8h6.5l-9,15.3l9,15.2h-6.5l-7.4-12.6h-2.3v12.6H593.4z">
                                </path>
                                <path class="st0" d="M635.9,719.3h-5.6v-9.5l-8.9-21.1h6.1l5.7,14.6l6.3-14.6h6.1l-9.6,21.1V719.3z">
                                </path>
                            </g>
                            <rect class="st5" height="65.1" width="333.8" x="322.7" y="671.7">
                            </rect>
                        </g>
                    </a>
                    <a href="redhat-index.php" id="button-red-hat" style="cursor: pointer;">
                        <g class="button-red-hat">
                            <g>
                                <rect class="st4" height="59.8" transform="matrix(0.9999 -1.146579e-02 1.146579e-02 0.9999 -6.038 2.9864)" width="5.8" x="254.6"
                                    y="498.2">
                                </rect>
                                <rect class="st4" height="17.5" transform="matrix(0.9999 -1.142463e-02 1.142463e-02 0.9999 -5.7727 3.0867)" width="5.8" x="264.4"
                                    y="498.1">
                                </rect>
                            </g>
                            <g>
                                <path class="st0" d="M248.7,467.2c0-2.6,0.7-4.5,2-5.8c1.6-1.5,4.1-2.3,7.4-2.3c3.9,0,6.4,0.8,7.7,2.4c0.4,0.5,0.7,0.9,0.8,1.2
                                                                                                        s0.2,0.7,0.4,1.2l11.9-5.6v6.4l-11.4,4.9l-0.6,5h12v5.7h-30.2V467.2z M262.4,474.5v-6.7c0-1.1-0.3-1.8-0.8-2.2
                                                                                                        c-0.5-0.4-1.7-0.7-3.3-0.7c-1.7,0-2.8,0.2-3.4,0.7s-0.9,1.2-0.9,2.2v6.7H262.4z">
                                </path>
                                <path class="st0" d="M249.8,449.1c-0.4-0.7-0.7-1.3-0.9-2c-0.2-0.7-0.2-1.2-0.2-1.6s0-2.3,0.1-5.8c0.1-3.5,0.3-6.1,0.5-7.8h4.8
                                                                                                        v11.7c0,1,0.2,1.6,0.7,1.9c0.4,0.2,0.9,0.2,1.6,0.2h4.7l0.4-12h4.8l0.4,12h4.7c1,0,1.7-0.3,1.9-0.8c0.2-0.4,0.2-1,0.2-1.7v-11.3
                                                                                                        h4.7c0.2,1.3,0.4,4.7,0.6,10l0.1,2.6c0,0.2,0,0.5,0,0.7c0,0.3,0,0.7-0.1,1.1c0,0.5-0.2,1-0.4,1.7c-0.2,0.6-0.6,1.2-1,1.7
                                                                                                        c-1,1.1-2.5,1.6-4.6,1.6h-18C252.5,451.3,250.8,450.6,249.8,449.1z">
                                </path>
                                <path class="st0" d="M278.9,424.2h-30.2v-12.6c0-6.8,5.1-10.3,15.2-10.3c6.3,0,10.6,1.5,13,4.4c1.3,1.6,1.9,3.5,1.9,5.9V424.2z
                                                                                                        M263.9,407c-5,0-8.1,0.8-9.3,2.3c-0.5,0.7-0.8,1.6-0.8,2.7v6.5h19.9v-6.5C273.8,408.7,270.5,407,263.9,407z">
                                </path>
                                <path class="st0" d="M278.9,379.3h-30.2v-5.7h12.9v-10.1h-12.9v-5.7h30.2v5.7h-12v10.1h12V379.3z">
                                </path>
                                <path class="st0" d="M278.9,350.6l-30.2-10v-6.4l30.2-9.6v6l-6.7,2.1v9.7l6.7,2.1V350.6z M267.1,340.9V334l-10.8,3.3L267.1,340.9z">
                                </path>
                                <path class="st0" d="M254.1,322.5h-5.3v-21.9h5.3v8.2h24.9v5.7h-24.9V322.5z">
                                </path>
                            </g>
                            <rect class="st5" height="271.8" width="64.8" x="231.3" y="286.2">
                            </rect>
                        </g>
                    </a>
                </svg>
            </div>
        </div>
        <!-- /Portafolio Horizontal -->
    </div>
</section>