<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../static/img/faviconx64.png" type="image/x-icon">

        {{!-- <link rel="icon" type="image/png" href="../static/img/icon.png" /> --}}

        <title>TAK - SOLUCIONES TI</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800,900|Exo:300,400,500,600,700,800,900&amp;subset=latin-ext">

        {{#if entorno}}
            <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/general-style.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/product-style.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
        {{else}}
            <link rel="stylesheet" type="text/css" href="../build/css/stylesheet_p.css">
        {{/if}}



        
    </head>

    <body>