<section class="col-12" id="section-quienes-somos">
<div class="row full-height">
    <!-- Mobile Design -->
    <div class="col-12 d-block d-md-none" id="quienes-somos-mobile">
        <div class="row full-height">
            <!-- quienes somos top content -->
            <div class="col-12" id="contenedor-cuadros">
                <div class="row full-height">
                    <div class="col-9 cuadro-amarillo full-height"></div>

                    <div class="col-3 mt-auto cuadro-gris-1 middle-height"></div>

                    <!-- quienes somos SVG -->
                    <div class="col-12 full-height" id="fila-svg-quienes-somos-mobile">
                        <div class="row full-height">
                            <img src="../static/img/title-quienes-somos.svg" alt="imagen de titulo quienes somos">
                        </div>
                    </div>
                </div>
            </div>

            <!-- quienes somos bottom content -->
            <div class="col-12" id="contenedor-texto">
                <div class="row full-height">
                    <div class="col-12" id="quienes-somos-carousel-nav-container">
                        <div class="row d-flex flex-row full-height">
                            <div class="col-3">
                                <div class="row justify-content-center align-items-center full-height">
                                    <span class="col-6 btn-nav-quienes-somos text-center" id="btn-prev-quienes-somos">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-3 ml-auto">
                                <div class="row justify-content-center align-items-center full-height">
                                    <span class="col-6 btn-nav-quienes-somos text-center" id="btn-next-quienes-somos">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row full-height">
                            <div class="col-12" id="quienes-somos-carousel">
                                <div class="quienes-somos-text">
                                    <h4>Nosotros</h4>

                                    <p>
                                        Tech & Knowledge (TAK), es una compañía encargada de prestar servicios en desarrollo de software especializado (Java, ADF,
                                        Php) y comercialización de productos de los fabricantes
                                        de tecnología mas importantes a nivel mundial como Oracle,
                                        Red Hat, Kasperky, Hewlett Packard y Microsoft.
                                    </p>

                                    <p>
                                        Adicionalmente Tech & Knowledge (TAK), Esta encaminada en trabajar en la implementación, afinamiento y configuración de tecnología
                                        de punta, con mano de obra calificada y certificada.
                                    </p>
                                </div>

                                <div class="quienes-somos-text">
                                    <h4>Hardware</h4>

                                    <p>
                                        Contamos con representación de los principales fabricantes de hardware como Oracle (Sun), Dell, IBM y Hewlett Packard, brindando
                                        flexibilidad a nuestros clientes al momento de elegir
                                        su plataforma de hardware.
                                    </p>
                                </div>

                                <div class="quienes-somos-text">
                                    <h4>Aplicaciones</h4>

                                    <p>
                                        Disponemos de un completo equipo de ingeniería especializado en consultoría y desarrollo de aplicaciones a la medida en diversos
                                        tipos de plataformas y lenguajes de programación web
                                        y móviles.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Desktop Design -->
    <div class="col-12 d-none d-md-block" id="quienes-somos-desktop">
        <div class="row full-height">
            <div class="col-12 middle-height h-50">
                <div class="row full-height">
                    <div class="col-4 ml-auto cuadro-blanco-2 wow fadeInUp" data-wow-offset="200" id="contenedor-lista-quienes-somos">
                        <div class="row full-height justify-content-end">
                            <ul class="col-7 mb-0">
                                <div class="row mr-3 full-height justify-content-center align-content-center">
                                    <li class="col-12 mb-2 py-2">
                                        <div class="row full-height justify-content-end align-items-center">
                                            <a href="#" class="activo" id="elige-nosotros">
                                                <h4>
                                                    Nosotros
                                                </h4>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="col-12 mb-2 py-2">
                                        <div class="row full-height justify-content-end">
                                            <a href="#" id="elige-hardware">
                                                <h4>
                                                    Hardware
                                                </h4>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="col-12 mb-2 py-2">
                                        <div class="row full-height justify-content-end">
                                            <a href="#" id="elige-aplicaciones">
                                                <h4>
                                                    Aplicaciones
                                                </h4>
                                            </a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="col-4 mr-auto cuadro-gris-texto wow fadeInUp" data-wow-offset="200">
                        <div class="row py-5 d-flex flex-row flex-wrap justify-content-center full-height" id="cuadro-gris-texto-row">
                            <div class="col-10 quienes-somos-desktop-text-container full-height qsdt-visible" id="texto-desktop-nosotros">
                                <div class="row align-content-start">
                                    <div class="col-5 mt-5 linea-blanca-quienes-somos-text"></div>

                                    <div class="w-100 mb-1"></div>

                                    <div class="col-3 mb-4 linea-blanca-quienes-somos-text"></div>

                                    <h4 class="col-12 p-0">Nosotros</h4>

                                    <p class="col-12 p-0">
                                        Tech & Knowledge (TAK), es una compañía encargada de prestar servicios en desarrollo de software especializado (Java, ADF,
                                        Php) y comercialización de productos de los fabricantes
                                        de tecnología mas importantes a nivel mundial como Oracle,
                                        Red Hat, Kasperky, Hewlett Packard y Microsoft.
                                    </p>

                                    <p class="col-12 p-0">
                                        Adicionalmente Tech & Knowledge (TAK), Esta encaminada en trabajar en la implementación, afinamiento y configuración de tecnología
                                        de punta, con mano de obra calificada y certificada.
                                    </p>
                                </div>
                            </div>

                            <div class="col-10 quienes-somos-desktop-text-container full-height qsdt-oculto" id="texto-desktop-hardware">
                                <div class="row align-content-start">
                                    <div class="col-5 mt-5 linea-blanca-quienes-somos-text"></div>

                                    <div class="w-100 mb-1"></div>

                                    <div class="col-3 mb-4 linea-blanca-quienes-somos-text"></div>

                                    <h4 class="col-12 p-0">Hardware</h4>

                                    <p class="col-12 p-0">
                                        Contamos con representación de los principales fabricantes de hardware como Oracle (Sun), Dell, IBM y Hewlett Packard, brindando
                                        flexibilidad a nuestros clientes al momento de elegir
                                        su plataforma de hardware.
                                    </p>
                                </div>
                            </div>

                            <div class="col-10 quienes-somos-desktop-text-container full-height qsdt-oculto" id="texto-desktop-aplicaciones">
                                <div class="row align-content-center">
                                    <div class="col-5 mt-5 linea-blanca-quienes-somos-text"></div>

                                    <div class="w-100 mb-1"></div>

                                    <div class="col-3 mb-4 linea-blanca-quienes-somos-text"></div>

                                    <h4 class="col-12 p-0">Aplicaciones</h4>

                                    <p class="col-12 p-0">
                                        Disponemos de un completo equipo de ingeniería especializado en consultoría y desarrollo de aplicaciones a la medida en diversos
                                        tipos de plataformas y lenguajes de programación web
                                        y móviles.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 middle-height h-50">
                <div class="row full-height">
                    <div class="col-6 ml-auto cuadro-amarillo wow fadeInUp"></div>

                    <div class="col-3 cuadro-gris-2">
                    </div>
                </div>
            </div>

            <div class="col-12 wow fadeInUp" data-wow-offset="80" id="fila-svg-quienes-somos-desktop">
                <div class="row full-height">
                    <img src="../static/img/title-quienes-somos.svg" alt="imagen de titulo quienes somos">
                </div>
            </div>
        </div>
    </div>
</div>
</section>