<div class="modal-respuesta">
    <div class="container-respuesta">
        <div class="contenedor-btn-cierra-modal">
            <div class="btn-cierra-modal">
                <i class="fa fa-window-close" aria-hidden="true"></i>
            </div>
        </div>

        <h4 id="tituloH-modal"></h4>

        <p class="mb-5" id="parrafo-modal"></p>
    </div>
</div>