<img src="../static/img/cintaderecha.svg" class="cinta">
<div class="row">
    <div class="col-12 intro-info-container">
        <div class="row"> 
            <div class="d-none d-md-block triangulo-izquierda ml-auto">
            </div>

            <div class="col-md-6 py-5 intro-info">
                <div class="row justify-content-center full-height">
                    <div class="col-11 col-md-6">
                        <div class="row justify-content-center align-items-center full-height">
                            <p class="m-0 p-0 parrafo-intro-info-amarillo wow fadeInUp">
                                <span class="first-sentence">Construimos soluciones de conocimiento confiables,
                                escalables, a tiempo y costo efectivas.</span>
                                <br class="space">
                                <span class="second-sentence">Desarrollamos las mejores prácticas del mercado en cada
                                proyecto, gracias a la excelencia de nuestro capital humano,
                                conocimiento y experiencia, para brindarle lo mejor en
                                implementaciones de múltiples plataformas</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>