{{> head }}

        <div class="container-fluid">
            <div class="row">

                <!-- HEADER -->
                {{> politicas }}
                {{> menu }}
                <!-- /HEADER -->

                <!-- MAIN -->
                <main class="col-12 main-container-col">
                    <div class="row main-container-row">

                        <div class="d-none d-md-block btn-flotante-home wow fadeInRight" data-wow-delay="1s"></div>

                        <!-- section-conocimiento -->
                        {{> conocimiento }}
                        <!-- section-conocimiento -->

                        <!-- section-quienes-somos -->
                        {{> quienessomos }}
                        <!-- section-quienes-somos -->

                        <!-- section-portafolio -->
                        {{> portafolio }}
                        <!-- section-portafolio -->

                        <!-- section-clientes-partners -->
                        {{> clientespartners }}
                        <!-- section-clientes-partners -->

                        <!-- section-contactenos -->
                        {{> contactenos }}
                        <!-- section-contactenos -->

                    </div>
                </main>
                <!-- /MAIN -->

                <!-- MODAL RESPUESTA -->
                {{> respuesta }}
                <!-- /MODAL RESPUESTA -->
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/popper.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        
        <script src="../assets/js/owl.carousel.min.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/menu.js"></script>
        <script src="../assets/js/noty.js"></script>
        
        <script src="../assets/js/general-script.js"></script>

        <script src="../assets/js/index-script.js"></script>
        <script src="../assets/js/carousel.js"></script>
        
    </body>

</html>