{{> producthead}}
        <div class="container-fluid">
            <div class="row">
                
                <!-- HEADER -->
                {{> menu}}
                <!-- /HEADER -->

                <!-- MAIN -->
                <main class="col-12 main-container-col">
                    <div class="row">
                        <div class="d-none d-md-block btn-flotante-home wow fadeInRight"></div>
                        
                        <section class="col-12 cabecera-producto" id="cabecera-solucionesti">
                            <img src="../static/img/solucionesTI-1920-px.svg" alt="Soluciones TI"> 
                        </section>

                        <section class="col-12 contenedor-info wow fadeInUp">
                            {{> trianguloizquierda}}

                            {{> cajas}}
                        </section>
                    </div>
                </main>
                <!-- /MAIN -->
            </div>
        </div>

        <!-- SCRIPTS -->

        {{#if entorno}}
            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script src="../assets/js/bootstrap.min.js"></script>
            <script src="../assets/js/wow.min.js"></script>
            <script src="../assets/js/menu.js"></script>
            <script src="../assets/js/general-script.js"></script>
        {{else}}
            <script src="../build/js/bundle_p.js"></script>
        {{/if}}
        <script async src="../assets/js/fontawesome-all.min.js"></script>
    </body>

</html>