{{> producthead}}
        <div class="container-fluid">
            <div class="row">
                
                <!-- HEADER -->
                {{> menu}}
                <!-- /HEADER -->

                <!-- MAIN -->
                <main class="col-12 main-container-col">
                    <div class="row">
                        <div class="d-none d-md-block btn-flotante-home wow fadeInRight"></div>
                        
                        <section class="col-12 cabecera-producto" id="cabecera-solucionesti">
                            <img src="../src/public/images/solucionesTI-1920-px.svg" alt="Soluciones TI"> 
                        </section>

                        <section class="col-12 contenedor-info wow fadeInUp">
                            {{> trianguloizquierda}}

                            {{> cajas}}
                        </section>
                    </div>
                </main>
                <!-- /MAIN -->
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="../src/app/jquery.min.js"></script>
        <script src="../src/app/popper.min.js"></script>
        <script src="../src/app/bootstrap.min.js"></script>
        <script src="../src/app/wow.min.js"></script>
        <script src="../src/app/menu.js"></script>
        <script src="../src/app/general-script.js"></script>
        <script src="../src/app/rotate.js"></script>
    </body>

</html>